<template>
    <div id="notFound" >
        <Header />
         <div class="container px-8  mx-auto notFound_container">
        <!-- Lets play-->
        <div class="flex mb-4 pb-8 pt-8">
            <div class="w-3/4 mx-auto text-center">
                <h2 class="naslov pb-5">404</h2>
                <img src="~@/assets/404jaje.svg" alt="404 jaje">
                <h1>Došlo je do greške!</h1>
                <p>Ne možemo da pronađemo stranicu koju tražiš. </p>
            </div>
        </div>
        <!-- Gumbi -->
        <div class="flex">
            <div class="w-3/4 mx-auto text-center">
                <!-- <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br> -->
                <button class="plavi_gumb rounded btn"><router-link to="/">Povratak na naslovnicu</router-link></button>
            </div>
        </div>
    </div>
        <Footer2 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'Home',
    components: {
        Header,
        Footer2,
        
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#notFound{
/deep/ .footer-container {
    .text-left{
             margin-left:10px;
    }
    }
}
</style>