<template>
    <div id="glasujzafavorita">
        <Header />
        <div class="container px-8 sm:px-0 mx-auto">
            <!-- Good cause-->
            <div class="flex mb-4 pb-8 pt-16">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov text-gray-900">Glasanje se završilo. <br>
Finalisti će biti objavljeni 10.12.2019.
</h2>
                </div>
            </div>
       
   
            <!-- PAGINACIJA -->
            <paginate name="items" :per="24" :list="items" class="paginate-list">
                <div v-for="(item, index) in paginated('items')" :key="item.drawing_id" class="w-full sm:w-1/2 md:w-1/3 px-4 sm:px-4 mx-auto favorit">
                    
                        <div class="okvir">
                            <img :src="'https://vizijadoma.rs/masta-moze-svasta-2019/masta-images/' + item.image" class="object-contain w-full slikaFavorit pb-6 pt-6 sm:pb-0 sm:pt-0">
                        </div>
                        <div class="w-3/4 mx-auto">
                            <div class="flex">
                                <div class="w-full imeslike">{{item.drawing_name}}</div>
                                <div class="w-full glasovi"><img :src="heartIcon" class="inline pr-3">{{item.votes}}</div>
                            </div>
                            <div class="flex">
                                <div class="w-full  autor">{{item.first_name}}</div>
                            </div>
                        </div>
                     <!--    <a class="okviri" @click="show(index,$event, item.drawing_id)" href="#">
                    </a> -->
                </div>
            </paginate>

            <paginate-links for="items" :show-step-links="true"></paginate-links>


              <!-- MODAL -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="flex relative flex-col-reverse sm:flex-row modal-body">
                        <a @click="hide" href="#"><img class="zatvori" src="@/assets/x_close.svg"></a>
                        <div class="leftModal">
                            <h2 class="naslovModal">{{this.selectedObject.drawing_name}}</h2>
                            <p class="autorModal">{{this.selectedObject.first_name}}</p>
                            <div v-if="this.votedStatus == false" class="sakri">
                                <div @click="prijeGlasaj($event)" class="likeGroup">
                                    <img src="@/assets/like.svg" class="likeModal" alt="like">
                                    <p class="likeCountModal"> <a href="#"> {{this.selectedObject.votes}}</a>
                                    </p>
                                </div>
                                <!--  v-if="this.selectedObject.otkrijGlasovanje" -->
                                <div class="formModal pt-4">
                                    <input v-model="ifamNum" :class="error" class="inputModal" type="text" name="ikeaCard" placeholder="Upiši broj svoje IKEA FAMILY KARTICE">
                                    <br>
                                    <vue-recaptcha class="g-recaptcha" ref="recaptcha" @verify="onVerify" @expired="onExpired" :sitekey="sitekey"></vue-recaptcha>
                                    <button class="submitModal btn pb-3 mt-3" type="submit" @click="glasaj(selectedObject.image_id)">Glasaj za omiljeni crtež</button>
                                </div>
                            </div>
                            <!-- <transition name="fade">
                                 </transition> -->
                            <div v-else>
                                <div class="likeGroup">
                                    <img src="@/assets/likePlavi.svg" class="likeModal" alt="plavi-like">
                                    <p class="likeCountModal">{{this.selectedObject.votes}}</p>
                                    <p class="text-sm pt-4">Vaš glas je uspešno sačuvan!</p>
                                </div>
                            </div>
                            <button @click="hide" class="gumbModal btn">Povratak na listu radova</button>
                        </div>
                        <div class="rightModal">
                            <img :src="'https://vizijadoma.rs/masta-moze-svasta-2019/masta-images/' + this.selectedObject.image" class="imgModal mala-slika" alt="mala slika">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <Footer />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
// import Paginate from 'vuejs-paginate'


import Vue from 'vue'
import axios from "axios";
import VueRecaptcha from 'vue-recaptcha'
import VuePaginate from 'vue-paginate'
Vue.use(VuePaginate)
// https://www.npmjs.com/package/vue-paginate
// Vue.component('paginate', Paginate)


export default {
    name: 'home',
    components: {
        Header,
        Footer,
        VueRecaptcha

    },

    mounted() {

        // AXIOS

        

        // Vue.axios.get("https://digital.bbdo.hr/mastaApi/rs/vote.php").then((response) => {
        //     console.log(response.data)
        //     this.items = response.data;
        // })




        // ANALITIKA

        this.$ga.page({
            path: this.$router.path,
            name: this.$router.name,
            location: window.location.href
        });

        this.getVoteNum();
    },
    data() {
        return {
            items: [],
            paginate: ['items'],
            error: false,
            ifamNum: '',
            heartIcon: require("@/assets/srce.svg"),
            sitekey: '6LcCmcMUAAAAAN9RyQdRxcNuSthCqNpP-gKVTMQD',
            sucess: true,
            votedStatus: false,

            // otkrijGlasovanje: false,
            selectedObject: "",
            favoriti: [{
                    imeSlike: "Žuta žirafa",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 1,
                    catIDname: 'smjestaj',
                    brojGlasova: 24,
                    autor: 'Goran K. sddfsdsf',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/slika-modal1.jpg"),
                    klasa: "bg1",
                    otkrijGlasovanje: false,
                    zavrsenoGlasovanje: false,
                    sakrij: true
                },
                {
                    imeSlike: "Žuta žirafa",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 2,
                    catIDname: 'hrana',
                    brojGlasova: 24,
                    autor: 'Goran K.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/slika-modal2.jpg"),
                    klasa: "bg2",
                    otkrijGlasovanje: false,
                    zavrsenoGlasovanje: false,
                    sakrij: true
                }




            ]
        };
    },
    methods: {
        show(index, event, id) {

            //Pokazi modal

            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            //MODAL
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
            //Prema kliku selektiranog objekta uzmi iz indexa favoriti, također pošalji index tj. da se zna koji se element kliknuo 
            //this.selectedObject = this.items[index];
            this.items.forEach(item => {
                if(item.drawing_id == id){
                    this.selectedObject = item;
                }
            });
            // console.log(this.favoriti[index])
            // console.log(this.selectedObject);

        },
        hide() {
            console.log('Sakrij modal')

            //Ugasi Modal
            document.getElementById("myModal").style.display = "none";

        },

        //ovo je za paginaciju
        clickCallback: function(page) {
            console.log(page)
        },
        glasaj(id) {
            event.preventDefault()
            // console.log('sdfsdf')
            console.log(this.ifamNum)

            //povecaj glas

            //trebaš imati točan broj family kartice
            if (this.ifamNum.length == 19 && this.ifamNum.includes(
                    "627598048")) {
                console.log('imas 19 znakova i tocne brojeve')
                
                this.saveVote(id);
            } else {

                this.error = true
                console.log('nemas 19 znakova')
                console.log('IFAM error');
                alert('Pogrešan broj IKEA FAMILY kartice');
                //         var errorRed = document.getElementsByClassName("inputModal");
                // errorRed.classList('error');
            }

        },
        prijeGlasaj(event) {
            this.selectedObject.otkrijGlasovanje = true
            // console.log(event)
            // console.log(otkrijGlasovanje)
        },

        onVerify() {
            console.log('Verify: ' + response)
        },
        onExpired() {
            console.log('Expired')
        },
        saveVote(id) {
            
            var ifamNum = this.ifamNum.toString();
            var itemID = id.toString();
            axios({
                method: "post",
                url: "https://digital.bbdo.hr/mastaApi/rs/saveVote.php",
                headers: {
                    "Content-Type": "application/json"
                },
                data: {
                    ikea_id: ifamNum,
                    item_id: itemID
                }
            }).then(response => {
                console.log(response);

                if (response.data == 1) {
                    this.selectedObject.zavrsenoGlasovanje = true;
                    this.votedStatus = true;
                    //TO DO add vote to selected id
                    this.selectedObject.votes++
                } else {
                    alert('Došlo je do greške. Već ste glasali.');
                }
            });
        },
         getVoteNum() { 
            console.log('getVoteNum');
            var timestamp = new Date().getTime();
            axios
                .get("https://digital.bbdo.hr/mastaApi/rs/vote.php?time=" + timestamp)
                .then(response => {
                    this.items = response.data;
                    // this.items.sort((a, b) => b.votes - a.votes); 
                    console.log(this.items);
                })
                .catch(e => {
                    console.error(e);
                });
        }
     
    },
       metaInfo: {
            title: 'Mašta može svašta - Glasaj za omiljeni crtež',
            meta: [
                // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
                // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
                { name: 'description', content: 'Pravo učestvovanja na takmičenju imaju deca čiji su roditelji ili staratelji članovi IKEA Family kluba.' },
                { name: "keywords", content: "ikea family, mašta, crtež, radovi, glasanje" }
            ]

        }


}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.3s ease;
}

.fade-enter,
.fade-leave-to

/* .component-fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
}
</style>