<template>
    <div id="goodcause">
        <Header />
        <div class="container px-8 mx-auto">
            <!-- Good cause-->
            <div class="flex mb-4 pb-8 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov">Glasaj za pravo na detinjstvo</h2>
                    <p class="pt-5 text-white">
                        Deca su oslobodila maštu i jedinstvene <span class="font-bold">SAGOSKATT</span> igračke ugledale su svetlo dana. Sad je došlo vreme za igru, ali i za korak dalje – za dobrotvorne svrhe.</p>
                    <p class="pt-5 text-white">
                        <span class="font-bold">Sto posto prihoda</span> od prodaje SAGOSKATT igračaka doniraćemo jednom od navedenih udruženja koje svojim predanim radom doprinosi sreći i kvalitetu života dece u Srbiji.
                    </p>
                    <p class="pt-5 text-white">
                        Među ostalim <a target="_blank" href="https://www.ikea.com/rs/sr/ikea-family/benefits/" class="underline"><strong>pogodnostima</strong></a>, kao <strong>IKEA Family</strong> član imaš mogućnost da glasaš za projekte i inicijative u koje zaista veruješ. Izaberi koja od ove tri organizacije će dobiti sredstva, i na taj način pomozi da se aktivnosti sa plemenitim ciljem još više razviju.
                    </p>
                    <p class="pt-5 text-white">
                        Još uvek nisi <strong>IKEA FAMILY</strong> član? Možeš to da uradiš <a target="_blank" class="underline" href="https://www.ikea.com/rs/sr/profile/signup/family/"><strong>ovde</strong></a> .
                    </p>
                </div>
            </div>
            <div class="flex flex-wrap mb-4 pb-32 pt-16 -mx-2">
                <div v-for="(udruga, index) in udruge" :key="udruga.catID" class="w-full px-2  py-6 sm:py-0 sm:w-1/2 md:w-1/3  mx-auto text-left relative">
                    <img class="object-contain w-full slikeUdruge" :src="udruga.slikaUdruge" alt="slika udruge">
                    <span class="font-bold block py-5 text-white text-base">{{udruga.naslovUdruge}}</span>
                    <p class="text-white text-sm">
                        {{udruga.text}}
                    </p>
                    <!-- https://savez-dnd.hr/ -->
                    <div class="VoteDolje">
                        <a target="_blank" class="text-sm plavitx" :href="udruga.link">→ Saznaj više</a>
                        <button @click="show(index, $event)" class="w-full plavi_gumb py-4 px-4 my-4 rounded btn">Glasaj</button>
                        <!--    <p>{{this.udruge[0].brojGlasova}}</p>  -->
                        <div class="md:w-1/3 mx-auto pb-5 text-center">
                            <img src="@/assets/like.svg" class="likeModal" alt="like" />
                            <p class="likeCountModal ml-0 text-black">
                                {{udruga.brojGlasova}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- html comment -->
            </div>
            <!-- MODAL -->
            <div id="myModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="flex relative flex-col-reverse sm:flex-row modal-body">
                        <div class="leftModal">
                            <h2 class="naslovModal">{{this.selectedObject.naslovUdruge}} </h2>
                            <!-- <p class="autorModal">{{this.selectedObject.autor}}sd</p> -->
                            <!-- v-if="this.selectedObject.sakrij" -->
                            <div v-if="this.selectedObject.sakrij" class="sakri">
                                <div @click="prijeGlasaj($event)" class="likeGroup">
                                    <img src="@/assets/like.svg" class="likeModal" alt="lajk">
                                    <p class="likeCountModal text-black"> <a href="#"> {{this.selectedObject.brojGlasova}} </a>
                                    </p>
                                </div>
                                <!--  v-if="this.selectedObject.otkrijGlasovanje" -->
                                <div class="formModal pt-4">
                                    <input v-model="ifamNum" :class="error" class="inputModal" type="text" name="ikeaCard" placeholder="Upiši broj svoje IKEA Family kartice">
                                    <br>
                                    <vue-recaptcha class="g-recaptcha" ref="recaptcha" @verify="onVerify" @expired="onExpired" :sitekey="sitekey"></vue-recaptcha>
                                    <button :disabled="reCaptchaPass" class="submitModal btn pb-3 mt-3 text-black" type="submit" @click="glasaj($event)">Glasaj za organizaciju</button>
                                </div>
                            </div>
                            <!--  Otkrij glas -->
                            <div v-if="this.selectedObject.zavrsenoGlasovanje">
                                <div class="likeGroup">
                                    <img src="@/assets/likePlavi.svg" class="likeModal" alt="plavi lajk">
                                    <p class="likeCountModal">{{this.selectedObject.brojGlasova}}</p>
                                    <p class="text-sm pt-4">Vaš glas je uspešno sačuvan!</p>
                                </div>
                            </div>
                            <button @click="hide" class="gumbModal btn">Povratak na listu organizacija</button>
                        </div>
                        <div @click="hide" class="rightModal">
                            <a href="#"><img class="zatvori" src="@/assets/x_close.svg" alt="zatvori"></a>
                            <img :src="this.selectedObject.slikaUdruge" class="imgModal mala-slika" alt="mala slika">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   Velika slika -->
        <div id="velikaSlika" class="container px-8  mx-auto">
            <img class="object-contain w-full" src="@/assets/good_cause.jpg" alt="good cause">
        </div>
        <!--   Tx ispod slike-->
        <div class="container mx-auto px-8 pt-10 pb-20 text-center text-white">
            <p class="pb-8"><span class="font-bold">SAGOSKATT igračke</span> imaju <span class="font-bold">plemeniti cilj</span> – pomoći deci širom Srbije. Prihod od prodaje igračaka biće doniran jednom od udruženja posvećenih dobrobiti dece u Srbiji. <span class="font-bold">IKEA Family</span> članovi ovde mogu da glasaju za udruženje koje je u najvećoj meri osvojilo njihova srca, a prikupljena sredstva doniraćemo udruženju s najviše osvojenih glasova
            </p>
        </div>
        <Footer1 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer1 from '@/components/Footer1.vue'
import VueRecaptcha from 'vue-recaptcha'
import axios from 'axios'
// import on your project (less then 1KB gziped)

// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer1,
        VueRecaptcha

    },
    data() {
        return {
            error: false,
            ifamNum: '',
            reCaptchaPass: false,
            numVotes: [],

            sitekey: '6LcCmcMUAAAAAN9RyQdRxcNuSthCqNpP-gKVTMQD',
            sucess: true,
            recaptchaResponse: "",
            // otkrijGlasovanje: false,
            selectedObject: "",
            udruge: [{
                    naslovUdruge: "Centar za integraciju mladih (Svratište za decu) ",
                    slikaUdruge: require("@/assets/1.png"),
                    catID: 244,
                    link: 'http://cim.org.rs/sr/',
                    brojGlasova: 24,
                    autor: 'Goran K. sddfsdsf',
                    heartIcon: require("@/assets/srce.svg"),

                    klasa: "bg1",
                    otkrijGlasovanje: false,
                    zavrsenoGlasovanje: false,
                    sakrij: true,
                    text: 'Svratište za decu je licencirana usluga koja za cilj ima unapređenje kvaliteta života dece koja žive ili rade na ulici. Korisnici usluge Svratište su deca od 5 do 15 godina koja su, zbog načina života, izložena višestrukim rizicima. Deci su na raspolaganju redovni, izbalansirani obroci, čista odeća i obuća prilagođena vremenskim uslovima, podrška tokom obrazovanja i prilikom uključivanja u obrazovni sistem, a Svratište deci predstavlja sigurno okruženje koje odgovara na njihove potrebe i neguje psihosocijalni razvoj deteta. U Svratištu, deca mogu učestvovati i u različitim kreativnim, edukativnim, kulturnim i sportskim aktivnostima.'
                },
                {
                    naslovUdruge: "Centar za prava deteta ",
                    slikaUdruge: require("@/assets/3.png"),
                    catID: 245,
                    link: 'http://cpd.org.rs/',
                    brojGlasova: 24,
                    autor: 'Goran K.',
                    heartIcon: require("@/assets/srce.svg"),

                    klasa: "bg3",
                    otkrijGlasovanje: false,
                    zavrsenoGlasovanje: false,
                    sakrij: true,
                    text: 'Centar za prava deteta je udruženje građana osnovano 1997. godine čiji je osnovni cilj ostvarivanje prava deteta u Republici Srbiji u skladu sa Konvencijom o pravima deteta. Glavni pravac delovanja Centra usmeren je na kreiranje povoljnog društvenog i zakonodavnog okvira za puno ostvarivanje prava deteta u Srbiji kroz aktivnosti usmerene na uvođenje i primenu zakona, politike i prakse koji omogućavaju unapređenje dobrobiti deteta, zaštitu njihovih prava i njihovo puno učešće u društvu.'
                },
                {
                    naslovUdruge: "Specijalna bolnica za cerebralnu paralizu i razvojnu neurologiju",
                    slikaUdruge: require("@/assets/Specijalna-bolnica-za-cerebralnu-paralizu-i-razvojnu-neurologiju.jpg"),
                    catID: 246,
                    link: 'http://www.sbcprn.com/',
                    brojGlasova: 24,
                    autor: 'Goran K.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/slika-modal2.jpg"),
                    klasa: "bg2",
                    otkrijGlasovanje: false,
                    zavrsenoGlasovanje: false,
                    sakrij: true,
                    text: 'Bolnica se bavi lečenjem dece koja imaju cerebralnu paralizu, ali i decom koja imaju druge poteškoće u psihomotornom razvoju, zbog kojih se ne mogu jednakom brzinom i kvalitetom uključiti u svakodnevni život sa svojim vršnjacima. Cerebralna paraliza je najčešći uzrok oštećenja funkcija samostalnog kretanja kod dece. Izlečenje nije moguće, ali se upornim timskim radom može puno pomoći u savladavanju veština svakodnevnog života i sticanju samostalnosti. Naši terapeuti se trude da pomognu ovoj deci da sva čulna opažanja integrišu i obrade, jer je to put kojim svi mi stičemo nova iskustva i učimo o sebi i drugima.'
                },
                // {
                //     naslovUdruge: "Mreža organizacija za decu ",
                //     slikaUdruge: require("@/assets/2.png"),
                //     catID: 2,
                //     link: 'http://zadecu.org/',
                //     brojGlasova: 24,
                //     autor: 'Goran K.',
                //     heartIcon: require("@/assets/srce.svg"),
                //     imageModal: require("@/assets/slika-modal2.jpg"),
                //     klasa: "bg2",
                //     otkrijGlasovanje: false,
                //     zavrsenoGlasovanje: false,
                //     sakrij: true,
                //     text: 'Mreža organizacija za decu Srbije – MODS predstavlja savez udruženja koji čini preko 100 organizacija članica koje se bave zaštitom i promocijom prava deteta u Srbiji. Misija MODS-a je ostvarivanje prava, unapređenje položaja i poboljšanje kvaliteta života dece u Srbiji. MODS se zalaže za inkluzivno društvo u kome sva deca odrastaju bezbrižno i srećno, zaštićena od zlostavljanja, zanemarivanja, diskriminacije i nasilja, i pod jednakim uslovima ostvaruju pristup kvalitetnom formalnom i neformalnom obrazovanju, zdravstvenoj zaštiti, socijalnim uslugama i zdravoj životnoj sredini.'
                // },


            ]
        }
    },
    mounted() {
        console.log('test')

        // Get the modal
        var modal = document.getElementById("myModal");


        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("zatvori")[0];




        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
            // modal1.style.display = "none";
            // modal2.style.display = "none";
        }


        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }

        }
    },
    methods: {
        show(index, event) {
            // this.$modal.show('hello-world');
            // let element = e.$refs.modal.$el
            // Get the button that opens the modal
            // var btn = document.getElementById("myBtn");
            //Pokazi modal
            console.log(event)
            var modal = document.getElementById("myModal");
            modal.style.display = "block";

            this.selectedObject = this.udruge[index];




        },

        hide() {
            console.log('pvdje')

            //Ugasi Modal
            document.getElementById("myModal").style.display = "none";

        },

        //ovo je za paginaciju
        clickCallback: function(page) {
            console.log(page)
        },
        glasaj(event) {
            event.preventDefault()
            // console.log('sdfsdf')
            console.log(this.ifamNum)

            //povecaj glas

            //trebaš imati točan broj family kartice
            if (this.ifamNum.length == 19 && this.ifamNum.includes(
                    "627598048")) {
                console.log('imas 19 znakova i tocne brojeve')

                this.saveVote();
                // this.selectedObject.zavrsenoGlasovanje = true
                // this.selectedObject.sakrij = false
                // this.selectedObject.brojGlasova++
            } else {

                this.error = true
                console.log('nemas 19 znakova')
                console.log('IFAM error');
                alert('Pogrešan broj IKEA Family kartice');
                //         var errorRed = document.getElementsByClassName("inputModal");
                // errorRed.classList('error');
            }


            // if (this.sakrij && !this.error) {
            //                   this.sakrij = false
            //               } else {
            //                   this.sakrij = true
            //                   this.otkrij = true
            //               }



            // this.brojGlasova++
        },
        prijeGlasaj(event) {
            this.selectedObject.otkrijGlasovanje = true
            // console.log(event)
            // console.log(otkrijGlasovanje)
        },
        onSubmit() {
            console.log('onsubmit')
            // ifamNum
            this.$refs
        },
        onVerify(response) {
            //console.log(response);
            this.recaptchaResponse = response;

        },
        onExpired() {
            console.log('Expired')
        },
        saveVote() {
            var ifamNum = this.ifamNum.toString();
            var orgId = this.selectedObject.catID.toString();
            var reCapResp = this.recaptchaResponse;
            axios({
                method: "post",
                url: "https://digital.bbdo.hr/mastaApi/rs/organizations/saveVote.php",
                headers: {
                    "Content-Type": "application/json"
                },
                data: {
                    ikea_id: ifamNum,
                    item_id: orgId,
                    captcha_resp: reCapResp
                }
            }).then(response => {
                console.log(response);
                if (response.data == 1) {
                    this.selectedObject.zavrsenoGlasovanje = true;
                    this.selectedObject.sakrij = false;
                    this.selectedObject.brojGlasova++;
                } else {
                    alert('Došlo je do greške. Već ste glasali.');
                }
            });


        },
        getVoteNum() {
            axios
                .get("https://digital.bbdo.hr/mastaApi/rs/organizations/vote.php")
                .then(response => {
                    //this.posts = response.data;
                    console.log(response.data);
                    this.numVotes = response.data;
                    this.udruge[0].brojGlasova = this.numVotes[0].votes;
                    this.udruge[1].brojGlasova = this.numVotes[1].votes;
                    this.udruge[2].brojGlasova = this.numVotes[2].votes;
                    console.log(this.udruge)
                })
                .catch(e => {
                    console.error(e);
                });
        }

    },
    mounted: function() {
        this.$ga.page({
            path: this.$router.path,
            name: this.$router.name,
            location: window.location.href
        });
        this.getVoteNum()
    },
    metaInfo: {
        title: 'IKEA - Glasaj za pravo na detinjstvo',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Sto posto prihoda od prodaje SAGOSKATT igračaka doniraćemo jednom od navedenih udruženja..' },
            { name: "keywords", content: "ikea, udruženja, glasanje, donacija" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>