<template>
    <div id="home">
        <Header />
        <div class="container px-8  mx-auto home_container">
            <!-- Lets play-->
            <div class="flex mb-4 pb-8 pt-8">
                <div class="w-full mx-auto text-center">
                    <h2 class="naslov pb-5">Stvorimo zajedno igračke iz snova!</h2>
                    <p>U robnoj kući IKEA prijatelji iz mašte naših mališana mogu da postanu stvarni. Organizujemo „Mašta može svašta“ druženja u kojima svako dete ima priliku da crtama i bojama dočara svoju igračku iz snova. <br><br>
                        Prema odabranim crtežima biće izrađene prave plišane igračke koje će postati deo IKEA <a href="#">SAGOSKATT</a> kolekcije. Neka omiljene igračke naših mališana pređu iz mašte u njihove ruke!</p>
                </div>
            </div>
            <!-- Gumbi -->
            <div class="flex">
                <div class="w-3/4 mx-auto text-center">
                    <!-- <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br> -->
                    <router-link to="/kako-učestvovati"><button class="plavi_gumb rounded btn">Učestvuj</button></router-link>
                </div>
            </div>
        </div>
        <Footer2 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2,

    },
    mounted: function() {
        this.$ga.page({
            path: this.$router.path,
            name: this.$router.name,
            location: window.location.href
        });
    },
    metaInfo: {
        title: 'IKEA - Mašta može svašta 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Organizujemo „Mašta može svašta“ druženja u kojima svako dete ima priliku da crtama i bojama dočara svoju igračku iz snova.' },
            { name: "keywords", content: "ikea, mašta, crtanje, igračke, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>