<template>
    <div id="kakosudjelovati">
        <Header />
        <div class="container kakosudjelovati_content px-8  mx-auto">
        <!-- Kako sudjelovati-->
        <div class="flex mb-4 py-5">
            <div class="w-3/4 mx-auto text-center">
                <h2 class="naslov">Kako učestvovati</h2>
            </div>
        </div>
        <!--  1 -->
        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-16 flex-col sm:flex-row">
            <div class="w-full sm:w-2/3 order-2 sm:order-1 mx-auto block sm:flex text-left">
                <span  class="pr-6 pt-2"> <img  src="@/assets/1.svg"></span>
                <section class="w-5/6">
   
                   Prema <router-link to="/raspored-crtanja"><span class="underline font-bold">rasporedu</span></router-link>  <span class="font-bold"> deca do 12 godina  </span> crtaće svoju igračku iz snova u <span class="font-bold">robnoj kući IKEA.</span> Kako bi igračka bila baš kakvu je zamišljaju, deca će moći da se posluže olovkama, bojicama i flomasterima.
                </section>
            </div>
            <div class="w-full sm:w-1/3 order-1 px-0 sm:px-3 sm:order-2 mx-auto text-center">
                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/kakosludjelovati_curica.jpg">
            </div>
        </div>
        <!--  2 -->
        <div data-aos="fade-left" class="block sm:flex py-8 sm:py-16">
            <div class="w-full sm:w-4/5 mx-auto sm:ml-auto block sm:flex text-left">
                   <span class="pr-6 pt-2"> <img src="@/assets/2.svg"></span>
                <section class="w-5/6">

                   Pravo učestvovanja na takmičenju imaju deca čiji su roditelji ili staratelji članovi IKEA Family kluba.
Roditelje i staratelje molimo da popune obrazac i svojim potpisom prihvate <a href="static/RS-Pravila-i -uslovi.pdf" target="_blank"><span class="underline font-bold">uslove takmičenja</span></a>, a obrazac prinesu uz crtež.



                </section>
            </div>
        </div>
        <!-- 3 -->
        <div id="girlDesktop" data-aos="fade-right" class="block sm:flex  py-8 sm:py-16">
             
            <div class="w-full sm:w-full mx-auto sm:mr-auto block sm:flex text-left">
                   <span class="pr-6 pt-32 "> <img src="@/assets/3.svg"></span>
                <section class="w-full sm:w-1/2 sm:w-2/6 px-0 sm:px-3 mx-auto text-center">
                    <img class="mala-slika" src="@/assets/kakosudjelovati_curica2.jpg">
                </section>
                <section class="w-full sm:w-1/2 sm:w-4/6 pt-0 sm:pt-0 md:pt-32">
                   

             
                   Svi crteži biće objavljeni na ovoj veb-stranici. Zbog Zakona o zaštiti ličnih podataka, crteži će sadržati samo ime i godine učesnika/ce. <span class="font-bold">IKEA Family članovi </span> biće obavešteni o početku onlajn glasanja putem imejla. Svaki član moći će da glasa samo jednom.
                </section>
            </div>
           
        </div>
        <!-- 3  Mobile-->
         <div id="girlMobile" data-aos="fade-right" class="block sm:flex  py-8 sm:py-16">
             
            <div class="w-full sm:w-full mx-auto sm:mr-auto block sm:flex text-left">
                   <span class="pr-6 pt-32 "> <img src="@/assets/3.svg"></span>
                
                <section class="w-full sm:w-1/2 sm:w-4/6 pt-0 sm:pt-0 md:pt-32">
                   

                    Svi crteži biće objavljeni na ovoj veb-stranici. Zbog Zakona o zaštiti ličnih podataka, crteži će sadržati samo ime i godine učesnika/ce. <span class="font-bold">IKEA Family članovi </span> biće obavešteni o početku onlajn glasanja putem imejla. Svaki član moći će da glasa samo jednom.
                </section>
                <section class="w-full sm:w-1/2 sm:w-2/6 px-0 sm:px-3 mx-auto text-center">
                    <img class="mala-slika" src="@/assets/kakosudjelovati_curica2.jpg" alt="kako sudjelovati Curica2">
                </section>
            </div>
           
        </div>
        <!--  4 -->
        <div data-aos="fade-left" class="block sm:flex  py-16">
            <div class="w-full sm:w-4/5 mx-auto block sm:flex text-left">
                   <span class="pr-6 pt-2"> <img src="@/assets/4.svg"></span>
                <section class="w-5/6">

                    U svakoj zemlji <span class="font-bold">50 crteža</span> s najviše onlajn glasova IKEA Family članova ući će u finale. <span class="font-bold">Od toga 15 najboljih crteža (koje će kod nas odabrati IKEA Srbija) biće poslato u Švedsku.</span>  Zatim će poseban IKEA žiri u periodu nakon februara 2020. da odabere i objavi 6 međunarodnih pobednika čiji će crteži biti pretvoreni u <span class="font-bold">SAGOSKATT</span> plišane igračke. One će početi da se prodaju u ograničenim količinama na jesen 2020. u robnim kućama IKEA širom sveta.
                </section>
            </div>
        </div>
        
       </div>
<img class="slika_curica_80" src="@/assets/kakosudjelovati_curica3.jpg" alt="kako sudjelovati Curica3">
        <Footer3 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer3 from '@/components/Footer3.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer3
        
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
  metaInfo: {
        title: 'Mašta može svašta - Kako učestvovati',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Pravo učestvovanja na takmičenju imaju deca čiji su roditelji ili staratelji članovi IKEA Family kluba.' },
            { name: "keywords", content: "ikea family, mašta, pravila, kako učestvovati, crtanje" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>