<template>
    <div>
        <div id="nagrade">
            <Header />
            <div class="container px-8  mx-auto">
                <!-- Lets play-->
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-3/4 sm:w-2/3 mx-auto text-center">
                        <h2 class="naslov">Nagrade</h2><br>
                       <!--  <p>Svim sudionicima natjecanja bit će dodijeljena diploma.</p><br> -->
                        <p>Svaki od 15 finalista primiće nagradu tokom posebne proslave u robnoj kući IKEA. Svih 6 međunarodnih pobednika dobiće svoj primerak plišane igračke izrađene prema crtežu koji su napravili.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="nagrade2">
            <div class="container mx-auto">
                <div class="flex nagrade_slike flex-wrap mb-4 pb-32 pt-16">
                    <div v-for="(favorit, index) in favoriti" class="w-3/4 sm:w-1/2 md:w-1/2 lg:w-1/3  mx-auto p-6">
                        <a href="#">
                            <!-- <img :src="favorit.imageName" class="object-contain w-full"> -->
                            <video autoplay loop controls playsinline>
                                <source :src="favorit.imageName" type="video/mp4">
                                <!--   <source src="movie.ogg" type="video/ogg"> -->
                                Your browser does not support the video tag.
                            </video>
                        </a>
                    </div>
                </div>
            </div>
            <Footer1 />
        </div>
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer1 from '@/components/Footer1.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'nagrade',
    components: {
        Header,
        Footer1,

    },
    data() {
        return {
            favoriti: [{
                    imeSlike: "Smještaj",
                    imageName: require("@/video/PLAY_SAGOSKATT_Rully.mp4"),
                    catID: 1,
                    catIDname: 'smjestaj',
                    brojGlasova: 2111,
                    autor: 'Goran K.'

                },
                {
                    imeSlike: "Eno-gastro ponuda",
                    imageName: require("@/video/PLAY_SAGOSKATT_Rainbow_Giraffe.mp4"),
                    catID: 2,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'Goran K.'

                },
                {
                    imeSlike: "Kulturne atrakcije i događanja",
                    imageName: require("@/video/PLAY_SAGOSKATT_Rainbow_Kid.mp4"),
                    catID: 3,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'Goran K.'

                },
                {
                    imeSlike: "Aktivni odmor i događanja",
                    imageName: require("@/video/PLAY_SAGOSKATT_Little_Monster.mp4"),
                    catID: 4,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'Goran K.'
                },
                {
                    imeSlike: "Prirodne atrakcije",
                    imageName: require("@/video/PLAY_SAGOSKATT_Jesse.mp4"),
                    catID: 5,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'Goran K.'
                },
                {
                    imeSlike: "Wellness i zdravlje",
                    imageName: require("@/video/PLAY_SAGOSKATT_Gurki.mp4"),
                    catID: 6,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'Goran K.'
                }
                // {
                //     imeSlike: "Nautika",
                //     imageName: require("@/assets/video7.png"),
                //     catID: 7,
                //     brojGlasova: 2111,
                //     autor: 'Goran K.'
                // },
                // {
                //     imeSlike: "Izleti",
                //     imageName: require("@/assets/video8.png"),
                //     catID: 8,
                //     brojGlasova: 2111,
                //     autor: 'Goran K.'
                // },
                // {
                //     imeSlike: "Prijevoz",
                //     imageName: require("@/assets/video1.png"),
                //     catID: 9,
                //     brojGlasova: 2111,
                //     autor: 'Goran K.'
                // }



            ]
        };
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
    metaInfo: {
        title: 'Mašta može svašta - Nagrade',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Svaki od 15 finalista primiće nagradu tokom posebne proslave u robnoj kući IKEA.' },
            { name: "keywords", content: "ikea, mašta, nagrade" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>