<template>
    <div id="objavadobitnika">
        <Header />
        <div class="container px-8  mx-auto">
            <!-- Good cause-->

            <div class="flex mb-4 pb-8 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov pb-5">15 odabranih crteža</h2>
                    <!--  <p>Pridruži se proglašenju 15 najboljih crteža i veseloj proslavi koja će se održati 11.12.2019. u IKEA restoranu, 18-20h.</p> -->
                   <!--  <p>Takmičenje je još uvek u toku.</p> -->
                </div>

            </div>
             <div class="flex favoriti_container flex-wrap mb-4 pb-32 pt-8">
                <!-- :ref="'modal' + favorit.catID" -->
                <div v-for="(favorit, index) in favoriti" class="w-full sm:w-1/2 md:w-1/3 px-4 sm:px-4 mx-auto favorit">
                    <a>
                        <div :class="favorit.klasa">
                            <img :src="favorit.imageModal" class="object-contain w-full slikaFavorit pb-6 pt-6 sm:pb-0 sm:pt-0" alt="favorit">
                        </div>
                        <div class="w-2/3 mx-auto">
                        <div class="flex">
                            <div class="w-full imeslike">{{favorit.imeSlike}}</div>
                            <!-- <div class="w-full glasovi"><img :src="favorit.heartIcon" class="inline pr-3" alt="lajk ikona">{{favorit.brojGlasova}}</div> -->
                        </div>
                        <div class="flex">
                            <div class="w-full  autor">{{favorit.autor}}</div>
                        </div>
                         </div>
                    </a>
                </div>
            </div>
        </div>
        <Footer2 />
       
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2

    },
    data() {
        return {
            favoriti: [{
                    imeSlike: "VESELA PLANINA",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 1,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'RELJA S.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS003-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "NELI NARVAL",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 2,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'TEODORA B.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS004-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "MARTIN",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 3,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'FILIP M.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS020-1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "JELIĆ",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 4,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'MILUTIN V.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS024-1.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "QUEEN BEE",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 5,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'MIA P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS050-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "KROKOKO",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 6,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'VIKTOR V.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS072-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "IRA",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 7,
                    brojGlasova: 2111,
                    autor: 'NEDA P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS100-1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "SKVIKI",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 8,
                    brojGlasova: 2111,
                    autor: 'MARIJA M.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS105-1.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "PTIČICA OLOVČICA",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 9,
                    brojGlasova: 2111,
                    autor: 'ANA T.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS119-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "ČUPKO",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 10,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'LENA D.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS126-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "SARI",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 11,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'MINA D.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS148-1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "ZELENI",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 12,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'TARA Š.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS186-1.jpg"),
                    klasa: "bg4"

                },
                {
                    imeSlike: "UTLANNINGEN VANZEMALJAC",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 13,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'SERGEJ R.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS205-1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "POLICAJAC KROFNIĆ",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 14,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'MILICA R.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS229-1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "KAMENČINA ČUDOVIŠTE",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 15,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'SARA R.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/RS236-1.jpg"),
                    klasa: "bg3"
                }



            ]
        };
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Mašta može svašta - Dobitnici 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: '' },
            { name: "keywords", content: "ikea, mašta, dobitnici, crtež, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>