<template>
    <div id="pravila">
        <Header />
        <h2 class="naslov pt-8">Pravila i uslovi</h2>
        <img class="max-w-full pattern_slika" src="@/assets/pattern.svg" alt="sara">
        <div class="container px-8  mx-auto">
            <!-- Lets play-->
            <div class="flex mb-4 pb-8 pt-16">
                <div class="w-full mx-auto text-center">
                    <div class="mx-auto text-left">
                        <p class="podnaslov font-bold">Uslovi učešća:</p>
                        <p class="podnaslov font-bold">IKEA takmičenje u crtanju plišanih igračaka MAŠTA MOŽE SVAŠTA 2019. </p>

                        <p>Uslovi učešća:</br>1. IKEA Srbija d.o.o., Beograd, matični broj: <span class="font-bold">20287608,</span> <span class="font-bold">PIB: 104990791,</span>  u saradnji sa kompanijom IKEA of Sweden AB, p.p. 317, 83 020 Hackås, Švedska, zajedno navedeni kao IKEA.</p>

                        <p>2.  Takmičenje će se održati u robnoj kući IKEA Beograd kod Bubanj potoka, auto-put Beograd – Niš, u periodu od 9.11.2019. godine do 24.11.2019. tokom vikenda (09, 10, 16, 17, 23. i 24. novembra 2019.) ispred Smaland igraonice od 11.00-20.00h. Na takmičenju učestvuju deca čiji su roditelji ili staratelji korisnici odn. članovi IKEA FAMILY programa. Deca smeju da budu do 12 godina starosti. IKEA zaposleni i/ili angažovana lica kao i članovi njihove uže porodice ne ostvaruju pravo tj. nemaju pravo učešća u Konkursu.</p>
                        <p>3.   IKEA zadržava pravo da zatraži od bilo kog IKEA FAMILY člana koji je učesnik na takmičenju dokaz o identitetu i/ili uslove da ostvaruje pravo da učestvuje na takmičenju. U slučaju da se od učesnika na takmičenju zatraži takav dokaz a isti ga ne pruži i/ili odbije da ga pruži- IKEA zadržava pravo da po vlastitom nahođenju isključi - diskvalifikuje učesnika iz takmičenja, bez daljeg obaveštenja, formalnosti ili vođenja postupka. IKEA će ličnim podacima učesnika rukovoditi i koristiti ih u skladu sa odredbama Zakona o zaštiti podataka o ličnosti kao i uslovima poslovanja dostupnim na zvaničnoj strani IKEA.</p>
                        <p>4.   Za učestvovanje na takmičenju, nije potrebna nikakva kupovina ili plaćanje bilo koje druge naknade/usluge s tim da je Učesnik dužan (a što ovde i potvrđuje) da pročita, upozna i saglasi se sa Uslovima učešća na takmičenju.</p>
                        <p>5.   Svi koji žele da učestvuju moraju imati pristanak roditelja ili staratelja. <span class="font-bold italic">„Pristankom-saglasnošću“</span> se podrazumeva i situacija kada roditelj ili staratelj doprati dete na takmičenje te predoči svoje IKEA FAMILY članstvo IKEA zaposlenom koji se bavi takmičenjem. Roditeljski nadzor je obavezan tokom učestvovanja u takmičenju. </p>
                        <p>6.   Svako dete može učestvovati u takmičenju samo jednim radom. Roditelji, staratelji ili treća strana ne smeju pomagati detetu tokom takmičenja. Takvi radovi će biti diskvalifikovani. Nezavršeni ili zakasneli radovi takođe su diskvalifikovani. </p>
                        <p>7.   Svaki se crtež mora crtati na A4 papiru. Svi učesnici i njihovi roditelji ili staratelji moraju na poleđini crteža navesti svoje ime i prezime, uzrast, IKEA FAMILY članski broj kartice roditelja ili staratelja i kontakt podatke.</p>
                        <p class="podnaslov font-bold">Kako učestvovati</p>
                        <p>8.   Za učestvovanje u takmičenju svaki učesnik će biti pozvan na takmičenje u robnoj kući IKEA. Tamo će učesnici imati zadatak da nacrtaju svoju plišanu igračku „iz snova“.</p>
                        <p>9.   Robna kuća IKEA će sastaviti popis 50 odabranih crteža („finalisti na nivou robne kuće“) i taj spisak će biti prosleđen Service Office-u. Dotičnih 50 finalista će biti odabrani glasanjem IKEA FAMILY članova putem interneta.</p>
                        <p>10.  Na osnovu popisa finalista na nivou robne kuće, Service Office će sastaviti popis odabranih 15 crteža („finalisti na nivou zemlje“). Dotičnih 15 finalista biće određeni na osnovu glasanja nezavisnog žirija koji će biti sastavljen od IKEA zaposlenih.</p>
                        <p>11.  15 crteža koji predstavljaju finaliste svake zemlje (koja učestvuje u takmičenju) biće poslati kompaniji IKEA of Sweden AB gde će žiri sudija odabrati 6 međunarodnih pobedničkih crteža („pobednika na međunarodnom nivou“). Žiri čine stručnjaci odgovorni za razvoj dečjih proizvoda (razvojni inženjeri, dizajneri proizvoda, planeri nabavke, predstavnici komercijalnih timova) u kompaniji IKEA of Sweden AB.</p>
                        <p>12.  Kriterijumi za ocenjivanje i izbor temelje se na inovativnosti, jedinstvenosti, komercijalnom potencijalu i mogućnosti proizvodnje plišane igračke na osnovu dizajna.</p>
                        <p class="podnaslov font-bold">Nagrade</p>
                        <p>13. Svim učesnicima na nivou robne kuće biće uručena diploma i simbolični poklon.</p>
                        <p>14.  Svi će međunarodni pobednici dobiti po jednu plišanu igračku koju će IKEA kreirati na osnovu njihovih crteža. Biće sveukupno 6 međunarodnih pobednika. Svi pobednici na nivou zemlje ili robne kuće neće postati međunarodni pobednici i neće primiti plišanu igračku izrađenu na osnovu njihovih crteža.</p>
                        <p>15.  Sve su nagrade neprenosive i bespovratne i o njima se ne može pregovarati. Kao zamena za celu nagradu ili deo nagrade ne može se davati gotovina ili zajam. IKEA zadržava pravo da zameni nagradu drugom nagradom ili istom novčanom vrednošću u slučaju delovanja više sile. Bilo koji poreski dug koji može nastati kao posledica primljene nagrade ili u vezi s njom platiće pobednik.</p>
                        <p>16.  IKEA zadržava potpuno pravo da odabere drugog pobednika u slučaju da ima opravdane razloge da veruje da se učesnik ponašao/la na način koji odstupa od ovih uslova te im se protivi ili na način koji IKEA smatra neprikladnim, nezakonskim ili uvredljivim.</p>
                        <p>17.  Finalisti na svim nivoima i pobednici na međunarodnom nivou biće o tome obavešteni putem imejla i telefona.</p>
                        <p>18.  IKEA će odlučiti o pobednicima takmičenja. Ta je odluka konačna. Nikakva se korespondencija o bilo čemu u vezi s pobednicima takmičenja neće održavati s IKEA FAMILY članovima.</p>
                        <p class="podnaslov font-bold">Odgovornosti i dopuštenja</p>
                        <p>19.  Organizator ovog takmičenja je IKEA Srbija d.o.o. na teritoriji Republike Srbije. Bilo koja pitanja u vezi s pravom učešća, Uslovima učešća ili Konkursom šalju se IKEA službi za kupce. Kontaktni podaci: IKEA Srbija d.o.o., Beograd, adresa: Auto-put Beograd-Niš, Astrid Lindgren 11, 11231, Beograd, Srbija. Pitanja se mogu postaviti i putem kontaktnog obrasca na zvaničnom sajtu kompanije, ili na broj telefona: 011/7555 444. </p>
                        <p>20.  IKEA ne snosi, niti preuzima bilo kakvu odgovornost uključujući greške u i na mreži, programu odn. opremi ili softveru koje mogu da ograniče ili dovedu do kašnjenja slanja ili prijema e-pošte učesnika; Dokaz o slanju poruke stoga nije dokaz o prijemu e-pošte.</p>
                        <p>21.  IKEA neće biti odgovorna ni za kakav gubitak koji može uzrokovati odlaganje/zastoj, otkazivanje, kašnjenje ili promene nagradnog fonda izvan kontrole IKEA ili za činjenje/propust bilo kojeg dobavljača treće strane. IKEA ne isključuje i ni na koji način ne ograničava odgovornost za smrt ili telesne povrede do kojih može doći zbog našeg nemara, prevare ili usled okolnosti koje nije mogla da predvidi.</p>
                    
                        <p class="podnaslov font-bold">Tvoji lični podaci i zaštita prava na intelektualno vlasništvo</P>
                        <p>22.  U svrhu učešća u ovom takmičenju, potrebno je da učesnici i njihovi roditelji/staratelji daju određene lične podatke kao što su ime i godine starosti učesnika, imejl adresa i broj telefona za kontakt kao i broj IKEA Family članske karte roditelja ili staratelja. Ako učesnik ima 12 godina ili manje, roditelj/staratelj mora dati svoj pristanak na učestvovanje deteta na takmičenju. Davanjem dopuštenja za učestvovanje deteta na takmičenju, svaki IKEA FAMILY član pristaje na to da IKEA obradi lične podatke njihovog deteta u skladu s načinom opisanim u ovim uslovima. Za lične podatke ovog tipa, IKEA postupa kao kontrolor podataka i koristi ih u svrhu sprovođenja takmičenja i kontaktiranja učesnika koji uđu u uži krug takmičenja i/ili pobede na takmičenju. Ime, godine starosti i crtež koji se takmiči takođe će se koristiti u svrhu promocije kompanije IKEA, njenih proizvoda kao i samog takmičenja. Svaki od šest pobednika na međunarodnom nivou proći će kroz intervju, a rezultati intervjua dalje će se koristiti u marketinške svrhe i u svrhe komunikacije u vezi s takmičenjem.</p>
                        <p>23.  Odabrani crtež i lične podatke finaliste iz svake zemlje IKEA deli s kompanijom IKEA of Sweden koja te podatke dalje obrađuje radi nastavka takmičenja i izbora pet međunarodnih pobednika. Kućna adresa međunarodnih pobednika takođe će biti podeljena s trećim licima radi uručenja nagrada pobednicima.</p>
                        <p>24.  Lični podaci se obrađuju tokom takmičenja sve do izbora međunarodnih pobednika i datuma početka prodaje pobedničkih igračaka. Lični se podaci takođe čuvaju da bi učesnici bili pozvani na takmičenje sledeće godine. IKEA of Sweden čuvaće ime, godine starosti, crtež, intervju i zemlju boravka šest međunarodnih pobednika koliko god je to potrebno u svrhu marketinga i komunikacije u vezi s kompanijom IKEA i asortimanom SAGOSKATT i deliće ga s drugim kompanijama unutar IKEA Grupe, Inter IKEA Grupe i IKEA franšizera, koji će podatke obrađivati u iste svrhe.</p>
                        <p>25.  IKEA obrađuje lične podatke na osnovu legitimnog interesa sprovođenja takmičenja i kontaktiranja pobednika. Učešćem u takmičenju i podnošenjem ličnih podataka, svi učesnici i njihovi roditelji/staratelji potvrđuju da su razumeli da će njihovi lični podaci i crteži biti obrađivani u gore pomenute svrhe. Učesnici (i njihovi roditelji/staratelji) imaju pravo da pristupe svojim ličnim podacima tako što će kontaktirati s osobom zaduženom za kontakt, navedenom pod tačkom 19; takođe, imaju pravo da isprave eventualne greške u ličnim podacima.</p>
                        <p>26.  Detalji o nagradama, ime i prezime pobednika/dobitnika nagrade na takmičenju, kao i robna kuća IKEA na teritorijama koje učestvuju u procesu izbora pobednika, ostaju dostupni za informacije i nakon okončanja takmičenja, ako se osoba obrati pisanim putem na adresu naznačenu u Uslovima učešća, u kom slučaju je potrebno precizirati naziv i period trajanja takmičenja.</p>
                        <p>27.  IKEA i bilo koja IKEA franšiza žele objaviti ime, uzrast i rad (crtež) učesnika na svojoj internetskoj stranici te putem drugih medija i nivoa komunikacije, za reklamne, komercijalne i javne svrhe. Učešćem na takmičenju, učesnici i/ili njihovi roditelji/staratelju pristaju i saglasni su da se ovi podaci koriste ovih bez dodatne saglasnosti, pristanka, obaveštavanja ili zahtevanja imovinske i druge kompenzacije.</p>
                        <p>28.  IKEA želi da dizajnira nove proizvode na osnovu radova (crteža/dizajna) 6 pobednika na međunarodnom nivou, te proizvede ograničenu seriju/ponudi ove proizvode na osnovu tih rešenja, sa ciljem prodaje u svim robnim kućama IKEA i IKEA online prodaje (komercijalna upotreba). ). Za svaku igračku koju proda iz te ograničene serije/ponude IKEA će donirati sredstva u dobrotvorne svrhe koje odredi IKEA franšizer ili IKEA organizacija, a koje pomažu decu sa posebnim potrebama, razvoj dece ili bilo koje druge potrebe dece. Učestovanjem u Konkursu, učesnici i njihovi staratelji jasno i bezuslovno pristaju i saglasni su na korišćenje shodno i na način ovde predviđen, bez dodatnog pristanka (niti će pristanak bezrazložno povući odn. opozvati), obaveštenja ili zahtevanja imovinske i druge kompenzacije.</p>
                        <p>29.  Svi radovi iz takmičenja moraju biti originalni rad učesnika. Celokupno intelektualno vlasništvo koje podrazumeva autorsko pravo i pravo na dizajn crteža učesnika, uključujući radove pobednika i igračke izrađenih prema dizajnima radova iz takmičenja, pripašće kompaniji IKEA od trenutka kad se radovi predaju kompaniji IKEA.</p>
                        <p>30.  6 učesnika čiji će se crteži koristiti u komercijalne svrhe neće imati autorsko pravo na dizajn i neće primiti nikakvu naknadu, nagradu ili bilo koju drugu povlasticu kao rezultat korišćenja njihovog dizajna, osim nagrada opisanih u ovim uslovima. IKEA neće razvijati proizvode na osnovu crteža učesnika koji ne pobede na takmičenju. Pod uslovom da bilo koji od 6 dizajna nije moguće proizvesti ili komercijalizovati, IKEA zadržava pravo da ukloni ovaj proizvod iz ponude proizvoda za komercijalizaciju te da ga zameni proizvodom koji se temelji na crtežu nekog drugog učesnika.</p>
                        <p>31.  Ovo takmičenje i bilo koji spor ili tužba koji proiziđu iz njega ili u vezi s njime pokrenuće se i odvijati u skladu sa zakonima Republike Srbije gde se Privredni sud u Beogradu smatra nadležnim sudom.</p>
                         <p>32. Smatra se da samim učestvovanjem u takmičenju učesnici prihvataju ove uslove.</p>
                    </div>
                </div>
            </div>
            <!-- Gumbi -->
            <!--   <div class="flex">
            <div class="w-1/2 mx-auto text-center">
                <button class="zuti_gumb py-4 px-4 rounded ">
                    Glasaj za svog favorita
                </button><br>
                <button class="plavi_gumb py-4 px-4 rounded ">Kako sudjelovati?</button>
            </div>
        </div> -->
        </div>
        <img class="max-w-full pattern_slika2" src="@/assets/pattern.svg" alt="sara">
        <Footer3 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer3 from '@/components/Footer3.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'nagrade',
    components: {
        Header,
        Footer3,

    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Mašta može svašta - Pravila takmičenja 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: '' },
            { name: "keywords", content: "ikea, mašta, pravila, crtanje, igračke, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>