<template>
    <div id="rasporedcrtanja">
        <Header />
        <div class="container px-8 mx-auto">
            <!-- Good cause-->
            <div class="flex  pb-12 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov">Raspored crtanja</h2>
                </div>
            </div>
            
            <!-- Drugi -->
          <!--   <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 text-left">
                    <h2 class="naslov2 text-left">Crtanje  u  Småland igraonici </h2>
                </div>
            </div>
            <hr>
            <div class="grupa2 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>od 9. do 24. novembra, svaki dan
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>10 - 21h
                        </p>
                    </div>
                </div>
          
            </div> -->


            <!-- Prvi -->
            <h2 class="naslov2 text-left">Crtanje ispred Småland igraonice</h2>
            <hr>
            <div class="grupa1 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>9. i 10. novembra
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>11 - 20h
                        </p>
                    </div>
                </div>

                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>16. i 17. novembra
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>11 - 20h
                        </p>
                    </div>
                </div>

                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>23. i 24. novembra
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>11 - 20h
                        </p>
                    </div>
                </div>
               <!--  <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>17. i 18. novembra</p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>10 - 14h</p>
                    </div>
                </div> -->
            </div>

            <!-- Drugi -->
            <!-- <div class="flex flex-wrap">
                <div class="w-full sm:w-1/2 text-left">
                    <h2 class="naslov2 text-left">Crtanje u dostavnim centrima </h2>
                </div>
            </div>
            <hr>
            <div class="grupa2 pt-10 pb-20 pl-3">
                <div class="flex ">
                    <div class="w-1/2 text-left">
                        <p>10. i 17. studenog
                        </p>
                    </div>
                    <div class="w-1/2 text-right">
                        <p>12 - 15h
                        </p>
                    </div>
                </div>
              
            </div> -->
            <!-- Treci -->
       <!--      <div class="flex ">
                <div class="w-1/2 text-left">
                    <h2 class="naslov2 text-left">Crtanje kod kuće</h2>
                </div>
            </div>
            <hr>
            <div class="flex ">
                <div class="grupa3 pt-10 pb-20 pl-3">
                    <div class="w-full sm:w-1/2 text-left">
                        <p>Ako tvoje dijete ne crta u prostorima robne kuće IKEA, ne zaboravi ispuniti obrazac za prijavu!</p><br>
                        <button class="zuti_gumb py-4 px-4 rounded btn">
                            Preuzmi obrazac za prijavu
                        </button>
                    </div>
                    <div class="w-full sm:w-1/2"></div>
                </div>
            </div> -->
        </div>
        <Footer />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'rasporedcrtanja',
    components: {
        Header,
        Footer

    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
  metaInfo: {
        title: 'Mašta može svašta - Raspored crtanja',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: '' },
            { name: "keywords", content: "ikea, mašta, raspored, vreme" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>