<template>
    <div id="sagoskat">
        <div id="nagrade">
            <Header />
            <div class="container px-8  mx-auto">
                <!-- Lets play-->
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-3/4 sm:w-2/3 mx-auto text-center">
                        <h2 class="naslov pb-5">Upoznaj SAGOSKATT igračke!</h2>
                        <p>Svake godine nova SAGOSKATT kolekcija stiže u robne kuće IKEA. Ovogodišnje šareno društvance sastoji se od 6 članova koja su dizajnirala deca širom sveta, kako bi razveselila drugu decu.</p><br>
                        <!--  <p>Sve SAGOSKATT igračke stvorene su ne samo za igru i inspiraciju, već i za doprinos plemenitim ciljevima – jer 100 % prihoda od njihove prodaje odlazi u dobrotvorne svrhe za djecu kojoj je pomoć potrebna.</p> -->
                    </div>
                </div>
                <!-- https://stackoverflow.com/questions/42645964/vue-js-anchor-to-div-within-the-same-component -->
                <a target="_blank" href="https://www.ikea.com/rs/sr/search/products/?q=sagoskatt"><button class="plavi_gumb rounded btn">
                      SAGOSKATT kolekcija
                    <!--  <router-link to="/good-cause">Saznaj više</router-link> -->
                </button></a>
              
<!-- <div id="div-id"></div> -->
            </div>
        </div>
        <div id="nagrade2">
            <div class="container mx-auto">
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-full sm:w-4/5 mx-auto text-center">         
                        <!--  //1 -->
                        <div id="heroj-krastavac"  data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/krastavac1.png" alt="heroj krastavac">
                            </div>
                            <div class="w-full pt-0 sm:pt-20 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">

                                    <p>

                                     <a target="_blank" href="https://www.ikea.com/rs/sr/p/sagoskatt-plisana-igracka-zelena-krastavac-90462416/"><span class="font-bold">GURKI</span></a> je krastavac i superheroj! Osim što voli da plazi jezik, ovaj nestaško podstiče decu da još više zavole krastavce.    
                                     </p>
                                </section>
                            </div>
                        </div>
                        <!--  //2 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">

                                
                                    Ovo <a target="_blank" href="https://www.ikea.com/rs/sr/p/sagoskatt-plisana-igracka-plava-cudoviste-60462408/"><span class="font-bold">malo čudovište</span></a>  pravi je veseljak! Svojim velikim osmehom i toplim zagrljajem spremno je da otera sva čudovišta koja se kriju u ormaru i pod krevetom.
                                </section>
                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/cudoviste1.png" alt="cudoviste">
                            </div>
                        </div>
                        <!--  //3 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/zirafa1.png" alt="zirafa">
                            </div>
                            <div class="w-full  pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">





                                    <p><a target="_blank" href="https://www.ikea.com/rs/sr/p/sagoskatt-plisana-igracka-zuta-zirafa-80462407/"><span class="font-bold">Nestašna žirafa</span> </a> šarenog repa osvojiće sva dečja (i odrasla) srca, a možda ih i dodatno podstakne da se zdravo hrane, kao i ona.</p>
                                </section>
                            </div>
                        </div>
                        <!--  //4 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                
                                   

                                    <p>
                                        Robotić <span class="font-bold"><a target="_blank" href="https://www.ikea.com/rs/sr/search/products/?q=sagoskatt">RULLY</a> </span>  obožava pesmu i ples! Osim toga, svojim velikim znatiželjnim očima podseća svoje prijatelje da uvek budu željni novih znanja i ideja.
                                    </p>
                                </section>
                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/robot1.png" alt="robot">
                            </div>
                        </div>
                        <!--  //5 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/mis1.png" alt="mis">
                            </div>
                            <div class="w-full pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">

                                 

                                    <p>Ovaj veseli miš s balonima zove se <span class="font-bold"><a target="_blank" href="https://www.ikea.com/rs/sr/search/products/?q=sagoskatt">JESSE</a></span> Uvek je spreman za slavlje i jedva čeka da pronađe društvo koje će da deli njegovu strast prema igri i zabavi.</p>
                                </section>
                            </div>
                        </div>
                        <!--  //6 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    
                                    <p>


                                    <a target="_blank" href="https://www.ikea.com/rs/sr/p/sagoskatt-jastucic-duga-40462414/"><span class="font-bold">Šarena duga</span></a> u čarapama podseća nas da mašta nikad nema granica. Njene vesele boje šire radost u svakoj prostoriji u kojoj se nađu.</p>
                                </section>
                            </div>
                            <div class="order-1 sm:order-2 w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/duga1.png" alt="duga">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-center" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                    <div class="w-full pt-0 mx-auto block sm:flex text-center">
                        <section class="w-3/5 mx-auto">
                            
                            <p>
                            Sve <a target="_blank" href="https://www.ikea.com/rs/sr/search/products/?q=sagoskatt"><span class="font-bold">SAGOSKATT</span> </a> igračke stvorene su ne samo za igru i inspiraciju, već i za doprinos plemenitim ciljevima – jer 100 % prihoda od njihove prodaje odlazi u dobrotvorne svrhe za decu kojoj je pomoć potrebna.</p>
                        </section>
                    </div>
                </div>
            </div>
            <Footer2 />
        </div>
        <!-- Gumbi -->
        <!--    <div class="flex">
                <div class="w-full mx-auto text-center">
                    <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br>
                    <button class="plavi_gumb rounded btn">
                        <router-link to="/good-cause">Saznaj više</router-link>
                    </button>
                </div>
            </div> -->
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
import Vue from 'vue'
import vueSmoothScroll from 'vue2-smooth-scroll'
Vue.use(vueSmoothScroll)
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2,

    },
    methods: {
        // scrollMeTo(refName) {
        //     var element = this.$refs[refName];
        //     var top = element.offsetTop;

        //     window.scrollTo(0, top);
        // }
    },
    mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'O SAGOSKATT kolekciji',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Ovogodišnje šareno društvance sastoji se od 6 članova koja su dizajnirala deca širom sveta, kako bi razveselila drugu decu.' },
            { name: "keywords", content: "ikea, mašta, igračke, sagoskatt" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>