@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

html,
body {
    // overflow-x: hidden;
}

$sivatx: #333333;
$zuta: #F9D616;
$plava: #0051BA;
$zelena: #24B092;
$svijetlo_zuta: #FFF9C5;
$ljubicasta: #82559E;
$roza: #F5CDD7;

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('~@/fonts/NotoIKEALatin-Bold.woff2') format('woff2'),
        url('~@/fonts/NotoIKEALatin-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('~@/fonts/NotoIKEALatin-Regular.woff2') format('woff2'),
        url('~@/fonts/NotoIKEALatin-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('~@/fonts/NotoIKEALatin-Italic.woff2') format('woff2'),
        url('~@/fonts/NotoIKEALatin-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Noto IKEA Latin';
    src: url('~@/fonts/NotoIKEALatin-BoldItalic.woff2') format('woff2'),
        url('~@/fonts/NotoIKEALatin-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}


@media screen and (min-width: 1024px) {
    .navbar-burger {
        display: block;
    }


}

.navbar {
    background: none;
}

.naslov {
    color: $svijetlo_zuta;
    font-size: 2rem;
    font-weight: bold;
}

body {
    font-size: 1.2rem;
    font-family: 'Noto IKEA Latin';

}

.container {
    // padding: 10px;
}

//404
#notFound {
    background-color: #C7E8FB;
    background-image: url('~@/assets/404background.svg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;

    h1 {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 5%;
    }

    h2 {
        color: black;
        font-size: 1rem;
    }

    img {
        margin: auto;
    }

    p {
        color: #333333;
        font-weight: 600
    }

    .notFound_container {
        height: 55vh;

    }
}


// HOME

#home {
    background: url('~@/assets/bg_ikea.jpg');
    background-size: cover;
    // background-position: top;
    // height: 100vh;

    background-attachment: scroll;
    background-position: center;

    .home_container {
        height: 100vh;
    }

    h2 {
        color: $sivatx;
        font-size: 2rem;
        font-weight: bold;
    }

    p {
        color: $sivatx;
    }

}

.btn {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 1rem 3rem;
    cursor: pointer;
}

#modal {
    box-shadow: 1px 1px 13px greys
}


// Gumbi
.zuti_gumb {
    background: $zuta;
    color: $sivatx;
    // width: 330px;
    font-weight: bold;
}

.plavi_gumb {
    background: $plava;
    color: white;
    padding: 1rem 3rem;
    font-weight: bold;

    // width: 130px;
    // padding: 0 3rem;
}

// FOOTER
.footer-container {
    // position: fixed;
    //    bottom: 0px;
    font-size: 20px;
    color: black;
    padding-top: 3rem;
    width: 100%;

    .wrapper {
        padding-bottom: 3rem;
    }

    a img {
        display: inline;
        visibility: hidden;
        margin-right: 10px;
    }

    ul {
        text-align: left;

        a {
            text-decoration: none !important;

            &:hover {
                font-weight: bold;
            }

            &.router-link-exact-active {
                font-weight: bold;

                img {
                    visibility: visible;
                }
            }
        }
    }

    .cookies {
        background: white;

        a {
            text-decoration: underline;
            font-size: 12px;
        }
    }


    .ikea-logo {
        position: relative;
        top: -41px;
        left: 25px;
    }

    .doodle {
        position: relative;
        top: 67px;
    }



}

// KAKO SUDJELOVATI


#kakosudjelovati {
    // height: 100vh;
    background: $zelena;
    background-image:
        url('~@/assets/bg_kakosudjelovati.svg'), url('~@/assets/bg_kakosudjelovati_pattern.png ');
    background-position: center -313px, center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%, 100%;

    .kakosudjelovati_content {
        padding-top: 10rem;
        color: white;

    }

    .veliki_brojevi {
        font-size: 13rem;
        color: $svijetlo_zuta;
        font-weight: bold;
    }

    .nav_kakosudjelovati {
        background: rgba(249, 214, 22, 0.8);
        box-shadow: 1px 1px 11px grey;
    }
}

#sagoskat {
    // background: url('~@/assets/zivotinje.jpg');
    background-size: cover;
    // background-position: top;
    // height: 100vh;

    background-attachment: scroll;
    background-position: center;

    .home_container {
        height: 100vh;
    }

    .naslov {
        color: #333333;
    }
}

// GOOD CAUSE


#kakosudjelovati header {
    // background: rgba(249, 214, 22, 0.8);

}

#animation_container {
    // position: absolute;
    // right: 0;
    // bottom: -113px;
    padding-top: 9rem;
}

#goodcause {
    // height: 100vh;
    background: $zelena;
    color: $svijetlo_zuta;
    background-image: url('~@/assets/zeleni_pattern.svg');
    background-position: center 400px;
    background-repeat: no-repeat;

    .container2 {
        width: 1400px;
    }

    .likeGroup {
        color: black;
    }

    .mala-slika {
        width: 90%;
    }
}

// glasuj za favorita
#glasujzafavorita {
    background: $svijetlo_zuta;
    background-image: url('~@/assets/kapljice_pattern.svg');
    background-position: center bottom;
    background-repeat: no-repeat;

    .imeslike {
        font-weight: bold;
        font-size: 1rem;
        text-align: left;
    }

    .naslov {
        color: black;
    }

    .glasovi {
        font-size: 1rem;
        font-weight: bold;
        text-align: right;
    }

    .autor {
        font-size: 0.7rem;
        font-weight: bold;
        text-align: left;
    }

    .slikaFavorit {
        // height: 350px;
    }

    .paginate-list .okvir:nth-child(3n+2) {
        margin-top: 1rem;
        // background: red;
    }

    .paginate-list .okvir:nth-child(2n+1) {
        margin-top: 2rem;
        // background: red;
    }

    .paginate-list .okvir:nth-child(4n) {
        margin-top: 3rem;
        // background: red;
    }

    .paginate-list .okvir:nth-child(6n) {
        margin-top: 3rem;
        margin-bottom: 1rem;
        // background: red;
    }

}

// RASPORED CRTANJA
#rasporedcrtanja {
    background: $ljubicasta;

    background-image: url('~@/assets/ljubicasti_pattern2.svg');
    background-position: right 45%;
    background-repeat: no-repeat;
    background-size: 50%;

    .naslov2 {
        color: white;
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
    }

    .grupa1,
    .grupa2,
    .grupa3 {
        color: $svijetlo_zuta;
    }
}

// NAGRADE
#nagrade {
    // background: $zelena;
    background-image: url('~@/assets/nagrade_gore.jpg');
    // background-position: center -600px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;

    // height: 100vh;
    h2 {
        color: $sivatx;
    }


}

#nagrade2 {
    // background: $zelena;
    background-image: url('~@/assets/bg_objavadobitnika.jpg');
    // background-position: center -600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        .font-bold {
            text-decoration: underline;
        }
    }


}

.nagrade_slike {
    // padding-top: 46rem;

    video {
        box-shadow: 3px 1px 10px black;
        //   margin: auto;
    }
}

// OBJAVA DOBITNIKA
#objavadobitnika {
    background-image: url('~@/assets/pattern_bg_smedi.svg'), url('~@/assets/pattern_bg_smedi.svg'), url('~@/assets/bg_objavadobitnika.jpg');
    // background-position: center -600px;
    background-position: top right, bottom left, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 10%, 10%, cover;
    background-attachment: local, local, fixed;

    h2 {
        color: $sivatx;
    }

    .imeslike {
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }

    .glasovi {
        font-size: 1rem;
        font-weight: bold;
        text-align: right;
    }

    .autor {
        font-size: 0.7rem;
        font-weight: bold;
        text-align: center;
    }

    .favoriti_container .favorit:nth-child(3n+2) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        // background: red;
    }

    .favoriti_container .favorit:nth-child(2n+1) {
        margin-top: 2rem;
        margin-bottom: 1rem;
        // background: red;
    }

    .favoriti_container .favorit:nth-child(4n) {
        margin-top: 3rem;
        margin-bottom: 1rem;
        // background: red;
    }

    .favoriti_container .favorit:nth-child(6n) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        // background: red;
    }

    // .favoriti_container:nth-child(2n+2) .slikaFavorit {
    //     padding-top: 3rem;
    //     // background: red;
    // }

    // .favoriti_container:nth-child(3n+1) .slikaFavorit {
    //     padding-top: 1rem;
    //     // background: red;
    // }

    // .favoriti_container:nth-child(4n) .slikaFavorit {
    //     padding-top: 2rem;
    //     // background: red;
    // }

}

// PRAVILA
#pravila {
    .naslov {
        color: $plava;
        margin-bottom: 50px;
    }

    p {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .podnaslov {
        font-size: 0.9em;
        margin-bottom: 0px;
    }

    .pattern_slika {
        padding-left: 21%;
    }

    .pattern_slika2 {
        padding-right: 21%;
    }
}


/*----------  TRANZICIJE - fade  ----------*/
.transform-enter-active,
.transform-leave-active {
    opacity: 1;

    transform: translateY(0px) all 0.5s ease-in-out;

    transition: all 0.5s ease-in-out;
}

.transform-enter,
.transform-leave-to

/* .fade-leave-active below version 2.1.8 */
    {

    transform: translateY(-150%);

    transition: all 0.5s ease-in-out;
}




// Header
p {
    z-index: 15;
}

// Wrapper Mobile
.linkHolderMobile {
    position: absolute;
    top: 0;
    background: white;
    width: 100%;
    height: 380px;
    z-index: 11;
    font-size: 17px;
    color: black;
    padding-top: 2.5rem;
    width: 100%;
    line-height: 1.8;

    a img {
        display: inline;
        visibility: hidden;
        margin-right: 10px;
    }

    .linkHolder {
        max-width: 1024px;
        margin: auto;
        padding: 0 3rem;
    }

    ul {
        text-align: left;
        // margin-left: 360px;

        a {
            // text-decoration: underline;

            &:hover {
                font-weight: bold;
            }

            &.router-link-exact-active {
                font-weight: bold;

                img {
                    visibility: visible;
                }
            }
        }
    }
}

/*  
***************

    MODAL

***************
*/

.leftModal {
    width: 50%;
    padding-right: 1rem;
    text-align: left;
}

.rightModal {


    text-align: center;
    margin: auto;

    img {
        display: inline;

    }

    .mala-slika {
        width: 60%;
    }
}

.naslovModal {
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.autorModal {
    font-size: 14px;
}

.likeModal {
    display: inline;
    filter: drop-shadow(3px 1px 5px grey);
    width: 50px;
}

.likeCountModal {
    display: inline;
    margin-left: 10px;
    font-weight: 800;
}

.gumbModal {
    display: block;
    background: $plava;
    color: white;
    // padding: 10px;
    // font-size: 14px;
    margin-top: 10%;
    padding: 1rem 2rem;
}


.v--modal-block-scroll {
    overflow: hidden;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.likeGroup {
    padding-top: 20px;
    // padding-bottom: 4rem;
}


.formModal {
    // margin-top: 35px;

    .inputModal {
        border: solid #D7D7D7 1px;
        padding: 10px;
        background: #F9F9F9;
        color: #939393;
        border-radius: 5px;
        // font-size: 15px;
        width: 80%;
        margin-bottom: 15px;

    }

    .submitModal {
        // padding: 10px;
        background: $zuta;
        // font-size: 15px;
    }

}

// PAGINACIJA
// .pagination {
//     display: flex;
//     justify-content: center;

//     .active {
//         background: $roza;
//         color: black;
//     }

//     li {
//         // border: 1px solid red;
//         background: $ljubicasta;
//         padding: 0.5rem 0.9em;
//         margin: 0.3rem;
//         color: white;
//         font-size: 0.8rem;
//         font-weight: bold;
//         // width: 40px;
//         // height: 40px;

//         &:hover {
//             cursor: pointer;
//             background: $roza;
//             color: black;
//         }
//     }
// }



/*  
***************

    RESPONZIVA

***************
*/
@media only screen and (max-width: 374px) {
    .g-recaptcha {
        transform: scale(0.81);
        margin: -15px;
        margin-left: -26px;
    }
}

@media only screen and (min-width: 375px) and (max-width:413px) {
    .g-recaptcha {
        transform: scale(0.97);
        margin: -1px;
        margin-left: -3px;
    }
}

@media only screen and (min-width: 414px) and (max-width:736px) {
    .g-recaptcha {
        transform: scale(1.09);
        margin-left: 14px;

    }
}



@media (max-width: 440px) {
    div#animation_container {
        display: none;
    }


}

@media (min-width: 640px) {
    #girlMobile {
        display: none;
    }

    #girlDesktop {
        display: block;
    }

}

@media (max-width: 640px) {
    div.modal-content {
        width: 90%;
    }

    #rasporedcrtanja {
        background-position: 300% 46%;
        background-repeat: no-repeat;
        background-size: 83%;
    }

    #girlMobile {
        display: block;
    }

    #girlDesktop {
        display: none;
    }

    div.maknuti {
        display: none;
    }

    #glasujzafavorita {
        div.imeslike {

            font-size: 1.5rem;
            padding-bottom: 0.5rem;
        }

        div.naslov {
            color: black;
        }

        div.glasovi {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: right;
        }

        div.autor {
            font-size: 1rem;

        }
    }

    #objavadobitnika {
        background-image: url('~@/assets/bg_objavadobitnika.jpg');
        background-size: 150% 100%;
        background-position: center;
        background-repeat: no-repeat;

        div.imeslike {

            font-size: 1.5rem;

        }

        div.naslov {
            color: black;
        }

        div.glasovi {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: right;
        }

        div.autor {
            font-size: 1rem;

        }
    }

    div#nagrade2 {
        background-size: 200% 100%;
        text-align: center;
    }

    div#sagoskat {
        background-position: center left;

        .home_container {
            height: 190vh;
        }
    }

    #home .home_container {
        height: 160vh;
    }

    div#app {
        font-size: 1rem;
    }

    #home h2 {
        font-size: 1.5rem;
    }

    .submitModal {
        width: 100%;
    }


    #notFound {
        .notFound_container {
            height: 100vh;

        }
    }

    .submitModal {
        width: 100%;
    }

    .g-recaptcha iframe {
        width: 100%;
    }


    .g-recaptcha iframe {
        width: 100%;
    }

    .gumbModal {
        width: 100%;
        margin-top: 5%;

    }

    div#kakosudjelovati {
        background-image: url('~@/assets/bg_kakosudjelovati.svg');
        background-position: center 10px;
    }

    img.slika_curica_80 {
        width: 100%;
    }

    .rightModal {
        width: 100%;
    }

    .leftModal {
        width: 100%;
        padding: 0px;
    }

    #nagrade {
        height: 100vh;
    }

    .mala-slika {
        padding: 2rem 0;
        width: 100%;
    }

    #nagrade2 {
        section {
            text-align: center;
        }

        .mala-slika {
            padding: 0;
            width: 70%;
        }
    }

    .naslov {
        font-size: 1.5rem;
    }

    .formModal .inputModal {
        width: 100%;
    }

    // .modal-body {
    //     height: 100vh;
    //     overflow-y: auto;
    // }

    body {
        line-height: 1.2;
        font-size: 1rem;
    }

    .naslov {
        line-height: 1.2;
    }

    // #modal {
    //     overflow-y: auto !important;
    //         margin: 1.75rem auto;
    // }

    #rasporedcrtanja .naslov2 {
        font-size: 1.2rem;
    }

    #glasujzafavorita {
        div.favoriti_container div:nth-child(2n+2) {
            padding-top: 0rem;
            // background: red;
        }

        div.favoriti_container div:nth-child(3n+1) {
            padding-top: 0rem;
            // background: red;
        }

        div.favoriti_container div:nth-child(4n) {
            padding-top: 0rem;
            // background: red;
        }
    }

    #objavadobitnika {
        div.favoriti_container div:nth-child(2n+2) {
            padding-top: 0rem;
            // background: red;
        }

        div.favoriti_container div:nth-child(3n+1) {
            padding-top: 0rem;
            // background: red;
        }

        div.favoriti_container div:nth-child(4n) {
            padding-top: 0rem;
            // background: red;
        }
    }

}

@media (max-width: 768px) {
    div.VoteDolje {
        position: initial;

    }
}

@media (min-width: 640px) and (max-width: 1024px) {


    #rasporedcrtanja {
        background-position: right 47%;
        background-repeat: no-repeat;
        background-size: 50%;
    }

    #kakosudjelovati {
        background-image: url("~@/assets/bg_kakosudjelovati.svg");
        background-position: center -67px;

    }

    .leftModal {
        text-align: left;
        width: 50%;
        max-width: 400px;
    }

    .formModal .inputModal {
        font-size: 14px;
        width: 100%;
    }

    .gumbModal {
        width: 100%;
        margin-top: 5%;
    }

    .submitModal {
        width: 100%;
    }

    .g-recaptcha {
        transform: scale(0.9);
        margin: -5px;
        margin-left: -15px;
    }



}

@media (max-width: 1024px) {
    #kakosudjelovati {
        background-image: url("~@/assets/bg_kakosudjelovati.svg");
        background-position: center -167px;

    }

    .g-recaptcha {
        transform: scale(1);
        margin-left: 0px;
    }

    div.rightModal {

        .mala-slika {
            width: 95%;
        }
    }
}

@media (max-width: 940px) {
    // .v--modal-overlay .v--modal-box {
    //     width: 100% !important;
    //     left: 0px !important;
    // }

    // #rasporedcrtanja {
    //     background-position: 200% 45%;
    //     background-repeat: no-repeat;
    //     background-size: 90%;
    // }

    // #nagrade {
    //     background-position: center -460px;
    // }

    div#nagrade .nagrade_slike {
        padding-top: 35rem;
    }

    #kakosudjelovati {
        background-image: url("~@/assets/bg_kakosudjelovati.svg");
        background-position: center -89px;

    }

    #kakosudjelovati .kakosudjelovati_content {
        padding-top: 5rem;
    }
}


@media (min-width: 1025px) {

    .leftModal {
        text-align: left;
        max-width: 400px;
    }

    .inputModal {
        width: 100% !important;
        font-size: 14px;
    }

    .formModal {
        margin-top: 10%;
    }

    .submitModal {
        width: 100%;
    }

    .gumbModal {
        width: 100%;
        margin-top: 5%;
    }
}

@media (min-width: 1280px) {
    .desktop\:text-center {
        text-align: center
    }

    div.container {
        max-width: 1024px;
    }

    footer.container {
        max-width: 1024px;
    }

    /* max-width: 1280px; */
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

span.hamburger-inner__before {
    top: -8px;
}

span.hamburger-inner__after {
    bottom: -8px;
}

.slika_curica_80 {
    width: 80%;
    margin: auto;
}


#loading {
    -webkit-animation: rotation 2s infinite alternate ease-out;
}

@-webkit-keyframes rotation {
    25% {
        -webkit-transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(-10deg);

    }

    75% {
        -webkit-transform: rotate(10deg);

    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}



// .fade-enter-active,
// .fade-leave-active {
//     // transition: opacity 1s
//    // opacity: 1;

//     transform:translateY(0px) all 0.5s ease-in-out;

//     transition: all 0.5s ease-in-out;

//   transition: opacity .5s;
// }

// .fade-enter,
// .fade-leave-active {
//    transform:translateY(-150%);

//     transition: all 0.5s ease-in-out;
//      // opacity: 0
// }

//OBRAZAC

.error {
    border: 1px solid red;
}



/*  
***************

   OKVIRI I POZADINE

***************
*/

.bg_test {
    background-image: url("~@/assets/slika-favorita2.png");
    background-size: contain;
    background-repeat: no-repeat;
    // mask-image: url('~@/assets/slika-favorita2.png');

}

// .favoriti_container .favorit:nth-child(1n) .okvir {

//         background-image: url("~@/assets/slika-favorita.png");
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;

//         img {
//             right: 0%;
//             transform: scale(0.35);
//         }
//     }

//     .favoriti_container .favorit:nth-child(2n) .okvir {

//         background-image: url("~@/assets/slika-favorita1.png");
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;

//         img {
//             right: 0%;
//             transform: scale(0.45);
//         }
//     }

//     .favoriti_container .favorit:nth-child(3n) .okvir {

//         background-image: url("~@/assets/slika-favorita2.png");
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;

//         img {
//             right: -10px;
//             transform: scale(0.35);
//         }
//     }

//     .favoriti_container .favorit:nth-child(4n) .okvir {

//         background-image: url("~@/assets/slika-favorita3.png");
//         background-size: contain;
//         background-repeat: no-repeat;
//         background-position: center;

//         img {
//             right: 0%;
//             top:20px;
//             transform: scale(0.6);
//         }
//     }


.paginate-list .favorit:nth-child(1n) .okvir {
    
    background-image: url("~@/assets/slika-favorita.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
        right: 0%;
        transform: scale(0.35);
    }
}

.paginate-list .favorit:nth-child(2n) .okvir {

    background-image: url("~@/assets/slika-favorita1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
        right: 0%;
        transform: scale(0.45);
    }
}

.paginate-list .favorit:nth-child(3n) .okvir {

    background-image: url("~@/assets/slika-favorita2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
        right: -10px;
        transform: scale(0.35);
    }
}

.paginate-list .favorit:nth-child(4n) .okvir {

    background-image: url("~@/assets/slika-favorita3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {

        transform: scale(0.6);
        right: 0%;
        top: 21px;
    }
}

// .favoriti_container div.okvir:nth-child(1){

//        background-image: url("~@/assets/slika-favorita1.png");
//        background-size: contain;
//        background-repeat: no-repeat;
//        background-position: center;

//        img {
//            right: 0%;
//            transform: scale(0.35);
//        }
//    }
//     .okviri:nth-child(2) .okvir {

//        background-image: url("~@/assets/slika-favorita2.png");
//        background-size: contain;
//        background-repeat: no-repeat;
//        background-position: center;

//        img {
//            right: 0%;
//            transform: scale(0.35);
//        }
//    }

.bg1 {
    background-image: url("~@/assets/slika-favorita.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {
        right: 0%;
        transform: scale(0.35);
    }
}

.bg2 {
    background-image: url("~@/assets/slika-favorita1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {

        right: 0%;
        transform: scale(0.48);
        top: 4px;
    }
}

.bg3 {
    background-image: url("~@/assets/slika-favorita2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {

        right: -1%;
        transform: scale(0.34);
    }
}

.bg4 {
    background-image: url("~@/assets/slika-favorita3.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    img {

        right: 0%;
        transform: scale(0.6);
        top: 17px;
    }
}

// .bg5 {
//     background-image: url("~@/assets/slika-favorita4.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;

//     img {

//         transform: scale(0.55);
//         right: 5%;
//         top: 0px;
//     }
// }

.slikaFavorit {
    transform: scale(0.4);
    position: relative;
    right: 17%;
}


.masta {
    padding-left: 1rem;
    font-size: 1rem;
}

#notFound #animation_container {
    display: none;
}

.plavitx {
    color: $plava;
}



/*  
***************

    MODAL

***************
*/

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 20;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 6% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    max-width: 1000px;
    /* Could be more or less, depending on screen size */
}

.zatvori {
    // position: relative;
    // left: 0;
    // top: 0;
    // float: right;
    // width: 32px;
    // cursor: pointer;

    width: 32px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

/* The Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
// }

// .close:hover,
// .close:focus {
//   color: black;
//   text-decoration: none;
//   cursor: pointer;
// }

//VOTE DOLJE APSOLUTE

.VoteDolje {
   position: absolute;
    bottom: -215px;
    width: 95%;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}


/*  
***************

    COOKIE

***************
*/


.cookieBox {
    position: fixed;
    font-family: 'Noto Sans', sans-serif;
    bottom: 20px;
    right: 20px;
    /*
    left: 70%;
    margin-left: -310px;
    */
    width: 600px;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 99999;
    padding: 20px;
    box-shadow: 3px 3px 10px #CCC;
}

.cookieBox p {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    text-align: left;
}

.cookieBox img {
    display: block;
    text-align: right;
    float: right;
    font-family: 'Noto Sans', sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}

.cookieBox a {
    color: #1C2656;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}

.cookieBox .separator {
    color: #1C2656;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
}

.inputCookiea {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: auto;
    // margin-top:4px;
}

.cookieHeadline {
    margin-left: 21px;
    font-family: 'Noto Sans', sans-serif;
    padding: 10px 0px;
    font-size: 20px;
    // font-weight: bold;
}

.cookieMainLeft {
    width: 65%;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-left: 2%;
}

.cookieMainRight {
    width: 20%;
    font-family: 'Noto Sans', sans-serif;
    float: right;
}

.cookieSection {
    padding: 0px 0px;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
}

.cookieSectionBot {
    padding: 10px 0px;
    font-family: 'Noto Sans', sans-serif;
    // margin-left: 21px;
}

.cookieAlert1 {
    width: 15%;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: right;
    margin-right: 3%;
    margin-top: 0%;
}

.cookieAlert2 {
    width: 68%;
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    padding: 15px 0px 0px 15px;
    text-align: left;
    color: black;
}

.cookieAlert2 h4 {
    margin-bottom: 10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 1.2rem;
}

.cookieAlert3 {
    width: 26%;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    float: right;
    text-align: right;
}

.inputCookie {
    display: block;
    font-family: 'Noto Sans', sans-serif;
    float: left;
    margin-right: 10px;
    width: 10px;
    margin-bottom: auto;
    // margin-top: 5px;
}

#cookiePolicy {
    font-size: 10px;
    color: black;
}

.cookieBox button {
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: white;
    background-color: #0077c8;
    padding: 8px 0px;
    width: 24%;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
}


.cookieBox button.moreInfo {
    position: absolute;
    right: 30px;
    bottom: 70px;
    color: white;
    background-color: #616161;
    padding: 8px 0px;
    width: 24%;
    border-radius: 8px;
    border: none;

    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Noto Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
}


//COOKIE RESPONZIVA

@media screen and (max-width: 768px) {
       div#velikaSlika{
    margin-top: 0rem;
}
    .cookieBox img {
        float: none;
    }

    .cookieBox {
        position: fixed;
        bottom: 0px;
        right: 0px;
        background-color: rgba(255, 255, 255, 0.98);
        z-index: 99999;
        padding: 20px 0;
        box-shadow: 3px 3px 10px #CCC;
        width: 100%;
        padding-left: 15px;
    }

    .cookieAlert2 {
        width: 90%;
        padding: 0px 0px 0px 15px;
    }

    .cookieAlert1 {
        width: 25%;
        display: block;
        font-family: 'Noto Sans', sans-serif;
        float: left;
        margin-right: 3%;
        margin-top: 5%;
    }

    .cookieAlert3 {
        width: 90%;
        display: block;
        text-align: left;
        padding-left: 15px;
        float: left;
        margin-top: 25px
    }

    .cookieBox button {
        position: relative;
        right: initial;
        bottom: initial;
        color: white;
        background-color: #0077c8;
        padding: 8px 8px;
        width: auto;
        margin-right: 15px;
        min-width: 100px;
    }


    .cookieBox button.moreInfo {
        position: relative;
        right: initial;
        bottom: initial;
        color: white;
        background-color: #616161;
        padding: 8px 8px;
        width: auto;

    }
}

#cookiePolicy p {
    font-size: 10px;
    margin-bottom: 10px;
}

/*  
***************

    PAGINACIJA

***************
*/

.paginate-links {
    display: flex;
    justify-content: center;

}

.paginate-list {

    display: flex;
    flex-wrap: wrap;
    // width: 159px;
    margin: 0 auto;
    text-align: left;

    li {

        display: block;

        &:before {
            content: '⚬ ';
            font-weight: bold;
            color: slategray;
        }
    }
}

.paginate-links.items {
    padding-top: 3rem;
    user-select: none;
    
    flex-wrap: wrap;
    a {
        cursor: pointer;
        padding: 0.7rem 1.1rem;
        background: #82559E;
        color: white;
        margin: 0.5rem;
        font-size: 0.8rem;
            display: inline-block;
    }

    // li{
    //   padding: 0.5rem 1rem;
    //   background: #82559E;
    //   color: white;
    //   margin: 0.5rem;
    //   font-size: 0.9rem;
    // }
    li.active {
        a {
            background: $roza;
            color: black;
        }


    }

    li.active a {
        font-weight: bold;

    }

    li.next:before {
        content: ' | ';
        margin-right: 13px;
        color: #ddd;
    }

    li.disabled a {
        color: #ccc;
        cursor: no-drop;
    }
}
#velikaSlika{
    margin-top: 12rem;
}
