<template>
    <div id="cookiePolicy">
        <div v-if="!this.$store.state.hideCookie" class="cookieBox">
            <!-- <div class="cookieAlert1"><img style="width: 100%" src="img/cookies.png"></div> -->
            <div v-if="!moreInfo" class="cookieAlert2">
                <h4>Tvoje postavke kolačića</h4>
                <p>IKEA traži od vas da prihvatite kolačiće za svrhe praćenja aktivnosti, društvenih medija i oglašavanja. Kolačići za društvene medije i oglašavanje trećih lica koriste se kako bi vam ponudisli funkcionalnosti društvenih medija i personalizovanih oglasa. Da biste dobili više informacija ili izmenili svoje preferencije, odaberite opciju ‘više’ ili otvorite „Podešavanja kolačića“ na dnu sajta. Da biste dobili više informacija o ovim kolačićima i obradi vaših ličnih podataka, pogledajte našu Politiku privatnosti i Politiku korišćenja kolačića. Da li prihvatate ove kolačiće i obradu uključenih ličnih podataka?</p><a target="_blank" href="https://www.ikea.com/rs/sr/customer-service/privacy-policy/">Zaštita privatnosti</a><span class="separator"> | </span><a target="_blank" href="https://www.ikea.com/rs/sr/customer-service/cookie-policy/">Pravila o kolačićima</a>
            </div>
            <!-- //VIŠE -->
            <div v-if="moreInfo" class="cookieMainLeft">
                <h3 class="cookieHeadline">Tvoje postavke kolačića</h3>
                <div class="cookieSection"><input id="check-disabled" type="checkbox" checked="" class="inputCookiea" disabled="">
                    <p style=""><strong style="color: #FF671D">Funkcijski kolačići</strong><br>Ovi su kolačići potrebni radi osnovnih funkcionalnosti internetske stranice i samim time su uvijek omogućeni. To uključuje kolačiće koji omogućavaju spremanje određenih postavki u skladu sa tvojim interesima, dok ti pretražuješ Internet.</p>
                </div>
                <div class="cookieSection"><input @change="checkPerformanceCookies(), checkPerformance = !checkPerformance" id="preformanceCookie" type="checkbox" class="inputCookiea">
                    <p style=""><strong>Kolačići za praćenje aktivnosti</strong><br>Ovi kolačići nam omogućavaju da poboljšamo funkcionalnost sajta praćenjem aktivnosti na sajtu. Takođe nam pomažu da vam obezbedimo bolje korisničko iskustvo na sajtovima koje ćemo postavljati u budućnosti.</p>
                </div>
                <div class="cookieSection"><input @change="checkSocial(), socialCookie = !socialCookie" id="socialCookie" type="checkbox" class="inputCookie">
                    <p style=""><strong>Društveni mediji i oglašavanje</strong><br>Kolačići za društvene medije nude mogućnost povezivanja sa vašim društvenim mrežama, i mogućnost deljenja sadržaja sa našeg sajta putem društvenih medija. Kolačići za oglašavanje (trećih lica) prikupljaju informacije, kako bi pomogli da se oglašavanje prilagodi vašim interesovanjima, kako u okviru, tako i izvan IKEA sajtova. U pojedinim slučajevima, ovi kolačići obuhvataju i obradu vaših ličnih podataka. Za više informacija o takvoj obradi ličnih podataka, pogledajte našu Politiku privatnosti i Politiku korišćenja kolačića. Ukoliko se odlučite da onemogućite ove kolačiće, može se desiti da počnu da vam se prikazuju reklame koje nisu relevantne za vas, da ne budete u mogućnosti da se povežete sa Fejsbukom, Tviterom ili drugim društvenim mrežama, i/ili vam neće biti dozvoljeno da delite sadržaj na društvenim medijima.</p>
                </div>
                <div class="cookieSectionBot">
                    <p>U svakom trenutku možete promeniti svoje preferencije tako što ćete otvoriti „Podešavanja kolačića“ na dnu stranice. Za više informacija, pročitajte našu Politiku privatnosti i Politiku korišćenja kolačića.</p>
                </div>
            </div>
            <div class="cookieAlert3">
                <div v-if="!moreInfo">
                    <!-- onclick="SetAllStatus()" -->
                    <button @click="SetAllStatus">PRIHVATAM</button>
                    <!--  onclick="cookieSettings()" -->
                    <button @click="moreInfoClick" class="moreInfo">VIŠE</button>
                </div>
                <!-- onclick="checkBoxStatus()"  -->
                <div v-if="moreInfo">
                    <button class="doneButton" @click="checkBoxStatus">SAČUVAJ</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>





export default {
    name: 'Cookie',
    props: {
        msg: String
    },
    data() {
        return {
            moreInfo: false,
           
            socialCookie: false,
            checkPerformance: false
        }
    },
    // https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html
    mounted() {
        

        // From some method in one of your Vue components
        // this.$cookie.set('test', 'Hello world!', 4);
        
        
     
        this.checkCookie()
    },
   methods: {
        test() {
            console.log('test')

        },
        moreInfoClick() {
            console.log('moreInfoClick')
            this.moreInfo = true
            // To delete a cookie use
            // Vue.$ga.enable()
        },
        checkPerformanceCookies() {
            console.log('checkPerformanceCookies')
            console.log(this.checkPerformance)

            if (this.checkPerformance  === true) {

                this.$cookie.set('preformanceCookie', 'YES', 365);
                this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (this.checkPerformance  === false) {
                 this.$cookie.delete('preformanceCookie', 'NO', 365);
                this.$cookie.delete('cookiePolicyA', 'Accepted', 365);
            } 

        },
        checkSocial() {
            console.log('checkSocial')
            console.log(this.socialCookie)
            // console.log(preformanceCookie)
        },
        checkCookie() {
            console.log('Check Cookie')

            var cookie = this.$cookie.get('cookiePolicyA');

            // var cookie = getCookie("cookiePolicyA");
            var preformance = this.$cookie.get('preformance');
            var social = this.$cookie.get('social');

            if (preformance == "YES") {
                // addGA();
                 this.$ga.enable();
                 // alert('Tracking enabled');
            }

            if (social == "YES") {
                // addSocial();
            }

            if (cookie != "" && preformance == "NO") {
                // removeGA();
                // this.$ga.disable();
                 this.$ga.disable()
                // alert('Tracking disabled');
            }

            if (cookie != "" && social == "NO") {
                // removeSocial();
            }
            

            if (cookie == "" || cookie == null) {
                
                this.$store.state.hideCookie = false
            }
            if (cookie == "Accepted") {
                // $("#cookiePolicy").hide();
                this.$store.state.hideCookie = true
            }

            

        },
        SetAllStatus() {
            // console.log('SetAllStatus')
            // var mainCookie = "Accepted";


            // setCookie("preformance", cookie, 365);
            // setCookie("social", cookie, 365);
            // setCookie("cookiePolicyA", mainCookie, 365);
           
            this.$cookie.set('socialCookie', 'YES', 365);
            this.$cookie.set('preformanceCookie', 'YES', 365);
            this.$cookie.set('cookiePolicyA', 'Accepted', 365);

            this.checkCookie()
            this.$store.state.hideCookie = true
        },
        checkBoxStatus() {
            console.log('checkBoxStatus')
            
            //         var social = $('#socialCookie').is(':checked');
            // var analitycs = $('#preformanceCookie').is(':checked');
            // var cookie = "YES";
            // var mainCookie = "Accepted";
            if (this.socialCookie) {
                console.log('socialCookieTrue')
                this.$cookie.set('socialCookie', 'YES', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (this.checkPerformance) {
                console.log('checkPerformanceTrue')
                this.$cookie.set('preformanceCookie', 'YES', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (!this.socialCookie) {
                console.log('socialCookieFalse')
                 this.$cookie.set('socialCookie', 'NO', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }
            if (!this.checkPerformance) {
                console.log('checkPerformanceFalse')

                 //Makni analitiku ako maknemo gumb
                this.$cookie.delete('_gid', 'Deleted', -365);
                this.$cookie.delete('_ga', 'Deleted', -365);

                  this.$cookie.set('preformanceCookie', 'NO', 365);
                 this.$cookie.set('cookiePolicyA', 'Accepted', 365);
            }

            // if ( social == 1 ){
            //     setCookie("social", cookie, 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if (analitycs == 1 ){
            //     setCookie("preformance", cookie, 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if ( social == 0 ){
            //     setCookie("social", "NO", 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // if (analitycs == 0 ){
            //     setCookie("preformance", "NO", 365);
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }
            // else {
            //     setCookie("cookiePolicyA", mainCookie, 365);
            // }

            // checkCookie()


            
            this.checkCookie()
            this.$store.state.hideCookie = true
        }

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>