<template>
    <header class="header">
        <div class="nav_kakosudjelovati">
            <div class="container mx-auto">
                <nav class="flex items-center justify-between flex-wrap p-8">
                    <div class="flex items-left text-white mr-6">
                        <router-link to="/"><img src="@/assets/Home_icon.svg" alt="home"></router-link>
                    </div>
                    <div class="flex items-center text-white mr-6">
                        <a target="_blank" href="https://www.ikea.com/rs/sr/"><img src="@/assets/Ikea_logo.svg" alt="Ikea logo"></a>
                    </div>
                    <!--  <div class="flex items-right text-white mr-6">
                    <img src="@/assets/Hamburger.svg">
                </div> -->
                    <!-- HAMBURGER -->
                    <!-- <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p> -->
                    <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p>
                    <!--  <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                    <!-- HAMBURGER -->
                    <!--   <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                </nav>
            </div>
        </div>
        <!-- NAV LINKS -->
        <transition name="transform">
            <div v-if="isActive" class="linkHolderMobile">
                <div class="navWrapper">
                    <div class="linkHolder">
                        <ul class="text-left">
                            <li>
                                <router-link to="/"><span><img src="@/assets/arrow.svg" alt="strelica">Mašta može svašta</span></router-link>
                            </li>
                            <div class="masta">
                                <li>
                                    <router-link to="/o-sagoskatt-kolekciji"><span><img src="@/assets/arrow.svg" alt="strelica">O SAGOSKATT kolekciji</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/kako-učestvovati"><span><img src="@/assets/arrow.svg" alt="strelica">Kako učestvovati</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/glasaj-za-omiljeni-crtez"><span><img src="@/assets/arrow.svg">Glasaj za omiljeni crtež</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/raspored-crtanja"><span><img src="@/assets/arrow.svg" alt="strelica">Raspored crtanja</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/nagrade"><span><img src="@/assets/arrow.svg" alt="strelica">Nagrade</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/objava-dobitnika"><span><img src="@/assets/arrow.svg">Objava dobitnika </span></router-link>
                                </li>
                                <li>
                                    <router-link to="/pravila"><span><img src="@/assets/arrow.svg" alt="strelica">Pravila</span></router-link>
                                </li>
                                <li>
                                <router-link to="/glasaj-za-pravo-na-detinjstvo"><span><img src="@/assets/arrow.svg">Glasaj za pravo na detinjstvo</span></router-link>
                            </li>
                            </div>
                            
                            <div class="masta">
                                <li>
                                    <!-- <router-link to="/odaberi-humanitarno-udruženje"><span><img src="@/assets/arrow.svg">Odaberi humanitarno udruženje</span></router-link> -->
                                </li>
                              <!--   <li>
                                    <router-link to="/pravila"><span><img src="@/assets/arrow.svg">Pravila</span></router-link>
                                </li> -->
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </transition>
        <CookiePolicy></CookiePolicy>
        <!-- Cookie -->
    </header>
</template>
<script>
import CookiePolicy from '@/components/CookiePolicy.vue'

export default {
    name: 'Header',
    props: {
        msg: String
    },
    components: {
        CookiePolicy
    },
    mounted() {
      
       
    },
    data() {
        return {
            buttonType: 'collapse',
            isActive: false,
            size: 'sm',
            color: 'black',
            activeColor: 'black'
        }
    },

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>