<template>
  <div  id="app">
   <!--  <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/kako-sudjelovati">Kako sudjelovati</router-link>
    </div> -->
 <!--    <transition
        name="fade"
        mode="out-in"
      > </transition> -->

      <router-view/>
      
      
       
      
  </div>
</template>

<style lang="scss">
// @import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');



#app {
  font-size: 1.2rem;
      // font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
}
// .fade-enter-active,
// .fade-leave-active {
//     transition: opacity 1s
//    // opacity: 1;
    
//    //  transform:translateY(0px) all 0.5s ease-in-out;
   
//    //  transition: all 0.5s ease-in-out;

//   // transition: opacity .5s;
// }

// .fade-enter,
// .fade-leave-active {
//    // transform:translateY(-150%);
//   opacity: 0;
//    //  transition: all 0.5s ease-in-out;

// }



// #nav {
//   padding: 30px;
//   a {
//     font-weight: bold;
//     color: #2c3e50;
//     &.router-link-exact-active {
//       color: #42b983;
//     }
//   }
// }
</style>
